- att_record = attachments[el['file'].to_i]

- if att_record.present? && att_record.file.present?
  = render "shared/attachment_with_virus_check_status", item: att_record,
                                                        mount_name: :file
