= "Dear #{@user.decorate.full_name},"

' Thank you for your application to the
= @current_year
| Queen's Awards for Enterprise. We are very sorry to inform you that, this time, you have not been shortlisted.

' This year we received many high quality applications and the competition was particularly strong.

' We are aware that the application process is quite substantial and that feedback is important. We will, therefore, write again in April
=> @current_year
| to provide comprehensive feedback on your application, which we hope you will find useful for any future applications.

  ' Please note that The Queen's Awards Office will not have any further information on the assessment of your application before April, so will not be able to discuss anything relating to your
=> @current_year
| application until then.

' Thank you for taking the time to enter The Queen's Awards for Enterprise.

' Nichola Bruno
' The Queen's Awards Office
