label.selectable.selectable-confirm
  input.js-trigger-autosave type="checkbox" name=question.input_name checked=!!question.input_value *possible_read_only_ops
  - if question.text
    == question.text 
