.govuk-form-group
  = country_select(question.step.form.form_name, "#{question.key}_country", {priority_countries: ["GB", "US"], selected: question.input_value}, possible_read_only_ops.merge({name: question.input_name, class: 'js-trigger-autosave govuk-select custom-select', id: "q_#{question.key}"}))
