- unless award_eligibility.sustainable_development.present?
  = render "qae_form/eligibility_questions/sustainable_development", f: f

- unless award_eligibility.development_contributed_to_commercial_success.present?
  = render "qae_form/eligibility_questions/development_contributed_to_commercial_success", f: f
