input.js-trigger-autosave class="govuk-input #{question.style.present? ? question.style : 'govuk-input--width-10'}" type="text" min=question.min max=question.max name=question.input_name value=question.input_value autocomplete="off" id="q_#{question.key}" *possible_read_only_ops
-if question.unit
  = question.unit
