- for answer in question.options do
  label.selectable
    input class="js-trigger-autosave" type="radio" name="#{question.key.to_s}" value=answer.value checked=(answer.value.to_s == (answers[question.key] || '').to_s)
    = answer.text
