= select_tag("#{question.key}", options_for_select(question.regions, question.entities), possible_read_only_ops.merge({name: "#{question.input_name}[]", class: "js-trigger-autosave required select2", include_blank: true, multiple: true}))
