select.js-trigger-autosave.select2 name=question.input_name *possible_read_only_ops id="q_#{question.key}"
  - question.options.each do |option|
    option value="#{option.value}" selected=((question.input_value || '').to_s == option.value.to_s)
      = option.text
