input class="js-trigger-autosave #{question.style.present? ? question.style : 'medium'}" type="#{question.type.present? ? question.type.to_s : 'text'}" name=question.input_name value=question.input_value autocomplete="off" id="q_#{question.key}" *possible_read_only_ops
