input.js-trigger-autosave.question-year.govuk-input.govuk-input--width-5 type="number" pattern="[0-9]*" maxlength="4" min=question.min max=(question.max.respond_to?(:call) ? question.max.call : question.max) name=question.input_name value=question.input_value autocomplete="off" id="q_#{question.key}" *possible_read_only_ops
