input.js-trigger-autosave.tiny.question-year type="text" maxlength="4" min=question.min max=question.max name=question.input_name value=question.input_value autocomplete="off" id="q_#{question.key}" *possible_read_only_ops
