label.small.date-input.date-input-field
  ' Year
  input.js-trigger-autosave.tiny.js-date-input-year type="text" maxlength="4" name=question.input_name value=question.input_value autocomplete="off" id="q_#{question.key}" *possible_read_only_ops
