th.sortable
  = sort_link f, "Primary Assessor", @search, :primary_assessor_name, disabled: @search.query?

th.sortable
  = sort_link f, "Secondary Assessor", @search, :secondary_assessor_name, disabled: @search.query?
