' Dear Queen’s Award applicant,

' This is a reminder that there are less than 48hrs left to submit your application for a Queen’s Award for Enterprise before the deadline at noon on Friday 1 September 2017.

' Whether you excel in international trade, have a great innovative product or service, or are running an impressive social mobility or sustainable development programme, these Awards are a unique way to recognise your achievements.

= link_to "Visit the Queen’s Awards for Enterprise website to continue and submit your application",
            edit_form_url(id: @form_answer.id)

' Thank you,
' The Queen's Awards Office
