' Dear Queen’s Award applicant,

' This is a reminder that there is only 1 month left to submit your application for a Queen’s Award for Enterprise before the deadline at noon on Friday 1 September 2017.

' Make sure your business gets the recognition it deserves. Winning a Queen’s Award can increase staff morale, bring worldwide recognition, provide excellent marketing opportunities and boost turnover.

= link_to "Visit the Queen’s Awards for Enterprise website to continue and submit your application",
            edit_form_url(id: @form_answer.id)

' Thank you,
' The Queen's Awards Office
