.DS_Store
.bundle
/log/*.log
/log/*.pid
/tmp/**/*
/vendor/bundle
rspec.watchr
/public/uploads/*
.pgpass
certs/*
.env
.history/

*.swp
*.swo
.idea

.ruby-gemset
sic_codes.csv
coverage/*
.env.production
.env.development

qae-dev_manifest.yml
qae-dev-worker_manifest.yml
qae-staging_manifest.yml
qae-staging-worker_manifest.yml
qae-production_manifest.yml
qae-production-worker_manifest.yml

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
