.DS_Store
.bundle
/log/*.log
/log/*.pid
/tmp/*
!/tmp/.gitkeep
/tmp/uploads/*
!/tmp/uploads/.gitkeep
/vendor/bundle
rspec.watchr
/public/uploads/*
.pgpass
certs/*
.env
.history/

*.swp
*.swo
*.rdb
.idea

.ruby-gemset
sic_codes.csv
coverage/*
.env.production
.env.development
.env.*.local

Procfile.local

qae-dev_manifest.yml
qae-dev-worker_manifest.yml
qae-staging_manifest.yml
qae-staging-worker_manifest.yml
qae-production_manifest.yml
qae-production-worker_manifest.yml

/public/packs
/public/packs-test
/public/assets
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
