' Dear
= @recipient.full_name
' ,

' We're emailing to remind you that you have until
=> @deadline
' to
= link_to "upload your completed Audit Certificate here.", users_form_answer_audit_certificate_url(@form_answer)

' If you don't submit your Audit Certificate before the deadline, we will not have sufficient information to assess your application and it will most likely be withdrawn.

' You can
= link_to "download a blank copy of the Audit Certificate here.", users_form_answer_audit_certificate_url(@form_answer)

' Thank you,

' The Queen's Awards Office
