' Dear
= @recipient.full_name
' ,

' We're emailing to remind you that you have until
=> @deadline
' to upload your completed Audit Certificate.

' If you don't submit your Audit Certificate before the deadline, we will not have sufficient information to assess your application and it will most likely be withdrawn.

' Thank you,

' The Queen's Awards Office
