| Hi
= @recipient.full_name
| ,

| Application for
= @form_answer.award_application_title
| for
= @form_owner.general_info
  | You need to download, check and complete an audit certificate!

= link_to "Review Audit Certificate", users_form_answer_audit_certificate_url(@form_answer)

| Best Regards, Administration Team

