ol.steps-progress-bar
  = step_link_to "International Trade",        eligibility_check_1_path, index: 1, active: @active_step
  = step_link_to "Innovation",                 eligibility_check_2_path, index: 2, active: @active_step
  = step_link_to "Sustainability Development", eligibility_check_3_path, index: 3, active: @active_step
