version: 2
jobs:
  build:
    parallelism: 1
    working_directory: ~/qae
    docker:
      - image: circleci/ruby:2.5.0-node-browsers
        environment:
          RAILS_ENV: test
          PGHOST: 127.0.0.1
          PGUSER: root
      - image: circleci/postgres:9.6.2-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_ruby_test
      - image: redis:3.2.7
    steps:
      - checkout

      # Which version of bundler?
      - run:
          name: Which bundler?
          command: bundle -v

      # Restore bundle cache
      - restore_cache:
          keys:
            - qae-{{ checksum "Gemfile.lock" }}
            - qae-

      - run:
          name: Bundle install
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs 4 --retry 3

      - run: sudo apt install -y postgresql-client || true

      # Store bundle cache
      - save_cache:
          key: qae-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Wait for redis
          command: dockerize -wait tcp://localhost:6379 -timeout 1m

      - run:
          name: Load DB schema
          command: |
            cp config/database.yml.ci config/database.yml
            bundle exec rake db:create
            bundle exec rake db:structure:load

      - run:
          name: Run RSpec
          command: bundle exec rspec spec --tag '~skip_on_ci' --backtrace spec --format progress

  install-convox:
    docker:
      - image: circleci/ruby:2.5.0-node-browsers
    steps:
      - run:
          name: Download convox
          command: curl -Ls https://convox.com/cli/linux/convox > /tmp/convox
      - run:
          name: Install convox
          command: sudo mv /tmp/convox /usr/local/bin/convox
      - run:
          name: Set convox permissions
          command: sudo chmod 755 /usr/local/bin/convox
      - run:
          name: Login to convox
          command: convox login console.convox.com
      - run:
          name: Select the convox rack for QAE
          command: convox switch bitzesty/qae
      - run:
          name: Print convox version
          command: convox -v
  convox-deploy-dev:
    docker:
      - image: circleci/ruby:2.5.0-node-browsers
    steps:
      - run:
          name: Convox deploy
          command: convox deploy --app qae-dev
          no_output_timeout: 900s
      - run: convox run web rake db:migrate --app qae-dev
  convox-deploy-staging:
    docker:
      - image: circleci/ruby:2.5.0-node-browsers
    steps:
      - run:
          name: Convox deploy
          command: convox deploy --app qae-staging
          no_output_timeout: 900s
      - run: convox run web rake db:migrate --app qae-staging

  convox-deploy-production:
    docker:
      - image: circleci/ruby:2.5.0-node-browsers
    steps:
      - run:
          name: Convox deploy
          command: convox deploy --app qae-production
          no_output_timeout: 900s
      - run: convox run web rake db:migrate --app qae-production

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - install-convox:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - staging
                - production
      - convox-deploy-dev:
          requires:
            - build
            - install-convox
          filters:
            branches:
              only: master
      - convox-deploy-staging:
          requires:
            - build
            - install-convox
          filters:
            branches:
              only: staging
      - convox-deploy-production:
          requires:
            - build
            - install-convox
          filters:
            branches:
              only: production
