// global button styles

.button.button--link,
.button.button--link:visited {
  @include core-19($line-height: (26 / 19));
  padding: 0.7em 1em 0.5em 1em;
  background: transparent !important;
  color: #005798 !important;
  border: none !important;
  text-decoration: underline;
  box-shadow: none !important;

  &:before {
    display: none !important;
  }

  &:hover,
  &:focus {
    background: transparent !important;
    color: lighten(#005798, 5%) !important;
  }
}
