' Dear
= @name
' ,

' Congratulations, your application for a Queen's Award for Enterprise:
=> @form_answer.award_type_full_name
' was successful!

' All winning organisations can send two representatives to the Queen's Awards for Enterprise Buckingham Palace reception. But you must enter their details online before
= @deadline
'.

' One of our assessors is currently in the process of writing a Press Book piece for your application. Once it's complete, we will notify you so you can check it over before
= @deadline
'.

' To complete both of these task, and access other winners' resources, go to
= link_to "the Winner's Dashboard.", dashboard_url

' Thank you,

' The Queen's Awards Office
