' An invitation to HM The Queen's Reception at Buckingham Palace

= "Dear #{@name},"

' You've been invited to Buckingham Palace Evening Reception.

' Please fill in
= link_to "attendee details", edit_palace_invite_url(id: @token)

' Congratulations once again on your Award.

' Yours sincerely

' Nichola Bruno

' The Secretary, The Queen's Awards for Enterprise
