' An invitation to HM The Queen's Reception at Buckingham Palace

= "Dear #{@name},"

' You've been invited to Buckingham Palace Evening Reception.

' Please fill in and confirm palace attendees

=> link_to "Log in here", dashboard_url
' to access the Winners' Dashboard to:

' check the 'Palace Attendees' page
' provide palace attendees details

' Then click the "Confirm Attendees" button by

' Congratulations once again on your Award.

' Yours sincerely

' Nichola Bruno

' The Secretary, The Queen's Awards for Enterprise
