// Show/hide the correct step/page for the award form
.step-header,
.step-article {
  display: none;

  &.step-current {
    display: block;
  }
}

.step-header {
  font-weight: bold;
  color: $black;
  font-size: 36px;
}

.js-step-link {
  cursor: pointer;

  &.step-errors:not(.js-step-disabled) {
    background: image-url("icon-important-sm-red.png") no-repeat scroll 0 0.75em;
    background-size: 16px 16px;

    // Retina
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      not all,
      not all,
      not all,
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: image-url("icon-important-sm-red-2x.png");
    }

    > a {
      background: transparent;
      color: $error-colour !important;
    }
  }

  &.js-step-disabled a {
    background: none !important;
  }

  &.step-current a {
    cursor: default;
    color: $black;
  }

  + ul li.step-errors:not(.js-step-disabled) {
    background: image-url("icon-important-sm-red.png") no-repeat scroll 0 0.75em;
    background-size: 16px 16px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      not all,
      not all,
      not all,
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: image-url("icon-important-sm-red-2x.png");
    }

    > a {
      background: transparent;
      color: $error-colour !important;
    }
  }
}

.js-step-disabled,
.js-question-disabled {
  pointer-events: none;
}

.js-question-disabled {
  opacity: 0.5;
}

.js-review-sections {
  ul li.step-errors:not(.js-step-disabled) {
    background: image-url("icon-important-sm-red.png") no-repeat scroll 0 0.2em;
  }
}

.js-review-sections li ul {
  padding: 1em 0 0 0;
  list-style-image: image-url("bullet-disc-5px-red.gif");

  li.step-errors {
    background: transparent;
    padding-left: 1.1em;
  }
}

ul.subsections {
  padding: 0 !important;
  margin: 0 !important;

  li {
    padding-left: 50px !important;
  }

  li + li {
    margin-top: 0 !important;
  }
}

// Show/hide the error step after submitting the form with errors
.step-error {
  display: none;

  .help-notice {
    background-image: image-url("icon-important-red.png");
    color: $error-colour;

    // Retina
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      not all,
      not all,
      not all,
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: image-url("icon-important-red-2x.png");
      background-size: 34px 34px;
    }

    p {
      font-weight: normal;
    }
  }
}

.show-error-page & {
  .step-error {
    display: block;
  }

  .steps-progress-content .step-current {
    display: none;
  }
}

// Fix spacing on the previous answers
.award-finish-previous-answers {
  .previous-answers {
    max-width: none;
  }

  .done-questions {
    padding-left: 0;
  }
}

// Fix the financial questions year ending style
.js-year-end {
  white-space: nowrap;
}
.js-year-default {
  display: none;
}
.show-default {
  .js-year-default {
    display: inline;
  }
  .js-year-text {
    display: none;
  }
}
.show-both {
  display: grid;

  .js-year-default,
  .js-year-text {
    display: inline;
  }
}

// Show substituted text
.js-sub-text {
  display: none;
}
.hide-default {
  .js-default-text {
    display: none;
  }
  .js-sub-text {
    display: inline;
  }
}

.hide-if-empty {
  &:empty {
    display: none;
  }
}

// PDF dowload link style/position
.page-header .download-article {
  position: relative;
  float: right;
  width: auto;
  top: -0.5em;
  margin-right: 0;

  .form-download {
    &,
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.form-submit .form-download p {
  @include core-24;
}

// Read-only view
.visible-read-only {
  display: none;
}

.application-notice p {
  margin: 0.75em 0;
}

.support-letter-attachment-filename,
label > .visible-read-only,
.view-value {
  margin-bottom: 10px;
  font-weight: normal;
}

.support-letter-attachment-filename {
  display: block;
}

.view-only,
.read-only {
  label {
    font-weight: bold;
  }
}

.supporters-list > .read-only {
  .remove-link {
    display: inline;
  }
}

.read-only {
  input,
  .button,
  .remove-link,
  .errors-container {
    display: none;
  }

  .support-letter-attachment-filename,
  .visible-read-only {
    display: block;
  }

  label {
    margin-bottom: 0;
    padding-left: 0;
    border-left: none;
    font-weight: bold;
  }
}

input.read-only,
textarea.read-only {
  color: #000000;
}

select.read-only {
  color: #2b2b27;
}

.view-value {
  display: block;
}

.view-only .remove-link {
  @include core-16;
  padding: 0;
  border: none;
  background: transparent;
  color: $govuk-blue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.page-support-letter .page-header div h1 {
  @include heading-27;
  font-weight: bold;
}

// Fix spacing for the International Trade B2
.js-by-trade-goods-and-services-amount > .conditional-question {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.js-review-sections {
  list-style-image: image-url("bullet-disc-5px-red.gif");

  a {
    color: $error-colour;
  }
}

@media only screen and (max-width: 800px),
  only screen and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: portrait) {
  .nominee-end-date-row {
    &.row {
      display: block;
      margin-right: -15px;
      margin-left: -15px;

      &:after,
      &:before {
        display: table;
        content: " ";
      }

      &:after {
        clear: both;
      }
    }

    .span-3 {
      position: relative;
      width: 60%;
      max-width: 200px;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &.date-ongoing {
        width: 40%;
      }
    }
  }
}

.download-pdf-link,
.step-download a {
  display: inline-block;
  position: relative;

  &:focus {
    color: black;
    text-decoration: underline;
  }

  svg {
    display: inline-block;
    height: 1.4em;
    width: auto;
    margin-bottom: -0.4em;

    path {
      fill: currentColor;
    }
  }
}

.step-download a {
  font-size: 0.95em;

  svg {
    margin-right: 0.25em;
  }
}

.download-pdf-link {
  margin: 0.25em 0 0;
  font-size: 1.25em;

  svg {
    margin-right: 0.5em;
  }
}

.form-banner {
  max-width: 100%;
  font-size: 1.25em;
}
