.collaborators-list {
  margin-top: 30px;

  a {

  }
}

.collaborator__name {
  @include bold-24;
  margin: 0 0 0.15em;
}

.collaborator__jobtitle {
  @include core-19;
  margin: 0;
}

.collaborator__contact {
  @include core-19;
  margin: 1.5em 0;
}

.collaborator__role {
  @include core-19;
  margin: 0;
  opacity: 0.6;
}

.collaborators__add {
  margin-top: 30px;
}

details {
  .panel {
    @include core-19;
    border-left-color: transparent !important;
  }
}

.remove-link-right {
  @media (min-width: 992px) {
    position: relative;

    h2 {
      max-width: calc(100% - 200px);
    }
  }
}

.collaborator-remove-link {
  @media (min-width: 768px) {
    color: 	#d4351c;
    position: absolute;
    right: 0;
    top: 12px;
  }
}
