// Positions the `highlighted-event` when it's used full width
.highlight-answer,
.highlighted-event {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.85rem !important;
}

// Allows for inline links on the sidebar
// Useful for regular text and links in the sidebar
.related li a.inline-link {
  display: inline;
}

// Styles the `Your application` list
// Has borders and positions the `Start your application` to the right
.applications-list {
  clear: both;
  margin-bottom: $gutter;
  padding-left: 0;

  li {
    position: relative;
    display: block;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px solid $border-colour;
    margin-left: 0;
    padding: $gutter-one-sixth 0 $gutter-one-third;

    .lte-ie7 & {
      display: inline;
      width: 100%;
      float: left;
    }

    &.no-border {
      border-bottom: none;
    }

    h2,
    h3 {
      @include bold-19;
      margin-top: $gutter-one-sixth;
      margin-bottom: $gutter-one-sixth;
      margin-right: 10em;

      @media (max-width: 450px) {
        margin-right: 0;
      }
    }

    small {
      @include core-14;
      display: block;
      padding: 0 $gutter-half 0 0;
      color: $grey-1;
    }

    .pull-right {
      position: absolute;
      top: $gutter-one-third;
      right: 0;

      @media (max-width: 450px) {
        display: block;
        position: static;
        top: auto;
        right: auto;
        margin-top: $gutter-one-third;
      }

      a {
        @include core-16;
        display: block;
        margin-top: 2px;
      }
    }

    .application-notice.info-notice {
      margin-top: $gutter-half;
      margin-bottom: $gutter-one-third;

      p {
        @include core-19;
      }
    }
  }
}

// Styles the `Current application` table
.applications-table {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  h3,
  h4,
  p {
    margin: 0;
  }

  p {
    @include core-16;
  }

  small {
    color: $grey-1;
  }

  .pull-right {
    text-align: right;
  }
}

.page-dashboard & {
  // Tweak spacing of header in relation to sidebar
  .inner > h2:first-child {
    margin-top: 0.5em;
  }

  // Spacing text on dashboard page
  .inner > p {
    margin-bottom: 1.5em;
  }

  // Style the deadline while in sidebar
  .related {
    border: none;

    .highlighted-event {
      padding: 0.1em 1em;

      p {
        @include core-24;

        em {
          margin-bottom: 0;
          font-size: 1.265em;
        }
      }
    }
  }
}

// TODO temp switch dashboard view
.page-dashboard .page-header {
  position: relative;
}

.dashboard-post-submission {
  h2 {
    @include heading-36;
  }

  h3 {
    @include heading-24;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
    font-weight: 700;
  }

  h2,
  h3 {
    small,
    .pull-right {
      @include core-16;
    }

    small {
      display: block;
      color: $grey-1;
    }

    .pull-right {
      float: right;
    }
  }
}

.dashboard-post & {
  .dashboard-pre-submission {
    display: none;
  }

  .dashboard-post-submission {
    display: block;
  }
}

.js & {
  .js-press-comment-feeback,
  .js-accept-nomination-details {
    display: none;

    &.section-confirmed {
      display: block;
    }
  }
}

.palace-attendees-list h2 {
  margin-top: 0;
}

.container-split {
  clear: both;

  &.award-list {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid $grey-2;
  }
}

.content-left {
  max-width: 27%;
  float: left;

  @media (max-width: 870px) {
    max-width: none;
    float: none;
  }
}

.content-right {
  display: block;
  margin-left: 30%;

  @media (max-width: 870px) {
    margin-left: 0;
  }

  > p:first-child {
    margin-top: 0;
  }

  &.content-offset-24 {
    padding-top: 0.7em;

    @media (max-width: 870px) {
      padding-top: 0;
    }
  }

  &.content-offset-36 {
    padding-top: 1.25em;

    @media (max-width: 870px) {
      padding-top: 0;
    }
  }
}

.post-dashboard-actions {
  padding-left: 0;
  list-style: none;

  li {
    position: relative;
    margin-left: 0;
    padding-left: 0;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 19px;

    .lte-ie7 & {
      width: 100%;
      float: left;
    }
  }

  .award-info {
    @media (max-width: 1000px) {
      display: block;
    }
  }

  .pull-right {
    float: right;

    .lte-ie7 & {
      margin-top: -1em;
    }
  }

  .label-status {
    position: absolute;
    top: 2px;
    right: 180px;

    @media (max-width: 1000px) {
      position: static;
      margin-top: 3px;
    }
  }
}

.save-press-summary-button, .save-palace-attendees-button {
  margin-right: 10px;
}

.press-summary-action-devider {
  margin-right: 12px;
}

.press_summary_comment {
  .char-text-limit {
    margin-top: 32px;
  }
}

.palace-attendees-action-divider {
  display: inline-block;
  padding-top: 8px;
  margin-right: 7px;
}

.palace-attendees-info-note p {
  font-weight: normal;
}

ul.no-bullet {
  list-style: none;

  li {
    list-style-type: none;
  }
}

.name-change-notification {
  max-width: 100%;
}
