// Fixes styling of smart-answer questions on the eligibility check pages
article .current-question li {
  @include core-16;
  padding-left: 0;
}

.current-question {
  // Spaces out multiple questions
  .question + .question {
    margin-top: 5em;
  }

  // Sensible font size for question info
  .application-notice.info-notice p {
    @include core-16;
  }
}

// Fix spacing on the previous answers
.eligibility-finish-previous-answers {
  margin-top: $gutter*2;

  .done-questions {
    padding-left: 0;
  }
}

#form_eligibility_questions .question {
  margin-top: 5em;
}

.page-award-eligibility .article-container {
  max-width: 40em;
}

.previous-answer-invalid {
  display: block;
  margin-top: 1em;
  color: $error-colour;
}
