// Fixes styling of smart-answer questions on the eligibility check pages
article .current-question li {
  @include core-16;
  padding-left: 0;
}

.current-question {
  // Spaces out multiple questions
  .question + .question {
    margin-top: 5em;
  }

  // Sensible font size for question info
  .application-notice.info-notice p {
    @include core-16;
  }
}

// Fix spacing on the previous answers
.eligibility-finish-previous-answers {
  margin-top: $gutter*2;

  .done-questions {
    padding-left: 0;
  }
}

#form_eligibility_questions .question {
  margin-top: 5em;
}

.page-award-eligibility .article-container {
  max-width: 40em;
}

// Fix previous questions width
.done-questions table tbody .section td {
  width: auto;
}

// Error
.previous-answer-invalid td {
  padding-top: 0.5em;
  padding-bottom: 0.4em;
  padding-left: 25px;
  background: image-url("icon-important-sm-red.png") no-repeat scroll left center;
  color: $error-colour;

  @include device-pixel-ratio() {
    background-image: image-url("icon-important-sm-red-2x.png");
    background-size: 16px 16px;
  }
}

.previous-answer-invalid:last-child td {
  border-bottom: solid 1px $grey-2;
}

.eligibility-failed {
  padding-left: $gutter-two-thirds;
  border-left: 4px solid $error-colour;
}

.page-pre-eligibility {
  ol {
    padding-left: 1.4em;

    li {
      padding-left: 0;

      ul {
        margin-bottom: $gutter;
        padding-left: 0.7em;
        list-style-position: outside;
      }
    }
  }

  input {
    margin-left: 0;
  }
}
