.page-landing {
  .hidden-hint {
    margin-bottom: $gutter;

    &,
    p {
      @include core-19;
    }
  }

  li {
    ul,
    ol {
      list-style-position: inherit;
    }
  }

  .page-header div {
    margin-right: 22.5em;
    padding-right: 0;

    @media (max-width: 640px) {
      margin-right: 0;
    }
  }

  .article-container {
    max-width: 41.25em;
  }
}
