/* ######## */
/* Statuses */

/* condition: When the haven't done the eligibility/eligibility check form
/* status:    Unable to apply
/* link:      Check your eligibility
/* action:    Go to award form, the eligibility section is not filled out

/* condition: When the have done the eligibility/eligibility check form but not finished the award form
/* status:    Unclear eligibility
/* link:      Start your application
/* action:    Go to award form, the eligibility section is filled out

/* condition: When the have finished the award form successfully
/* status:    Submitted on 20 February 2015 at 12:02
/* link:      Download PDF
/* action:    Download PDF of your application

ul.applications-list
  li
    h3
      ' International Trade Award
    small
      ' You can only apply for one International Trade Award
    .pull-right
      - unless current_account.has_award_in_this_year?(:trade)
        = link_to "New application", apply_international_trade_award_path

  li
    h3
      ' Innovation Award
    small
      ' You can apply for more than one Innovation Award
    .pull-right
      = link_to "New application", apply_innovation_award_path

  li
    h3
      ' Sustainable Development Award
    small
      ' You can only apply for one Sustainable Development Award
    .pull-right
      - unless current_account.has_award_in_this_year?(:development)
        = link_to "New application", apply_sustainable_development_award_path

    /.application-notice.info-notice
      p
        ' In order to apply to Sustainability Development, your organisations needs to lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
