.if-js-hide
  .staging-banner style="background-color: #fff2d3; color: #0b0c0c; font-weight: normal; text-transform: none;"
      | You will be logged out every 30 minutes, ensure you save your work periodically.
