.if-js-hide
  .application-notice.help-notice
    p Since you've disabled Javascript, you need to save your answers before you click on the "#{add_message}" or "Remove" buttons. To do this click "Save and come back later” within the page footer, then return to the application from the dashboard.
