= "Dear #{@user.decorate.full_name},"

' We are sorry to inform you that your nomination of
=> @form_answer.nominee_full_name
' for a Queen's Award for Enterprise Promotion was not successful.

' This year we received many nominations of high quality and the competition was particularly strong.

' We will write to you again in March/April to provide you with some constructive feedback that we hope will be helpful to your future nominations.

' Thank you for taking the time to make a nomination,

' The Queen's Awards Office
