= "Dear #{@recipient.full_name},"

' Thank you for submitting your
- if @form_answer.award_type == "promotion"
  ' nomination
- else
  ' application
' for
- if @form_answer.promotion?
  ' The Queen's Award for Enterprise Promotion
- else
  ' The Queen's Awards for Enterprise
= AwardYear.current.year
' .

' Your Unique Reference Number (URN) is
= @form_answer.urn

' You can view and download your submissions (and edit up until
= application_deadline(:submission_end)
' ) by
= link_to "signing in to applications page", dashboard_url
' .

' To find out more on what happens next visit
= link_to "The Queen's Awards for Enterprise timeline information page", timeline_url
' .

' If you have any further queries about the
- if @form_answer.award_type == "promotion"
  ' nomination
- else
  ' application
' process you can call us on 020 7215 6880 or email us
= link_to "queensawards@beis.gov.uk", "mailto:queensawards@beis.gov.uk"
' .

' Kind regards,

' The Queen's Awards Office
