| Hi
= @recipient.decorate.full_name
| ,

| Application for 
= @form_answer.decorate.award_application_title
| for person 
= @form_owner.decorate.general_info
| has been successfully submitted.

| Here’s application Unique Reference Number (URN):
= @urn