| Hi
= @recipient.full_name
| ,

| Application for
= @form_answer.award_application_title
| for
= @form_owner.general_info
| has been successfully submitted.

| Unique Reference Number (URN):
= @form_answer.urn

| Best Regards, Administration Team
