' Dear
= @user.full_name
' ,

' Firstly, we'd like to thank you for taking the time to nominate
=> @nominee_name
' for The Queen's Awards for Enterprise Promotion.

' We understand that the nomination process can be time-consuming, and for this reason our assessors have compiled some feedback on your nomination's strengths and weaknesses, which we hope will help with any future nomination(s) you make.

= link_to "You can view your application feedback here.", "#"

' We hope you'll nominate again next year.

' Thank you,

' The Queen's Awards Office
