' The Queen's Awards for Enterprise
=> @year
| [
= @form_answer.urn
| ]

= "Dear #{@name},"

' Thank you for your entry to The Queen's Awards for Enterprise
= @year
' .

' I am sorry to inform you that your organisation was not among those recommended to Her Majesty The Queen for an Award this year.

' This year's entries were of a very high standard and selecting those organisations which had demonstrated the most outstanding achievements was particularly difficult.

' I understand that the application process can be time consuming and for this reason, our assessors have compiled some feedback on your application's strengths and weaknesses which we hope will help with any future applications you make.

= link_to "You can view your application feedback here.", users_form_answer_feedback_url(@form_answer, format: "pdf")

' Business Support

' If you are looking for help to grow or scale up, you may wish to contact your local Growth Hub. They can provide national business support, and diagnostic and signposting advice to help businesses find the right support easily, no matter what their size or sector. If you would like to find out more, visit
= link_to "www.lepnetwork.net/growth-hubs", "http://www.lepnetwork.net/growth-hubs/"
', or call the Business Support Helpline on 0300 456 3565 (Monday to Friday, 9.00am – 6.00pm).

' For business support outside of England go to the
= link_to "Scotland", "http://www.bgateway.com"
',
=> link_to "Wales", "http://business.wales.gov.uk"
' and
=> link_to "Northern Ireland", "http://www.investni.com/index.html"
' websites.

' If you are looking to export, the potential for you to reach out to new customers and lucrative new markets beyond the UK has never been greater. Whatever your sector, there's a market out there for your products or services. For further help and information visit the Government website
=> link_to "www.exportingisgreat.gov.uk", "https://www.exportingisgreat.gov.uk/"
' or contact your local UKTI export expert,
= link_to "www.greatbusiness.gov.uk/ukti", "http://www.greatbusiness.gov.uk/ukti/"
' .

' Finally, you may be interested in the Entrepreneurs Exchange, an initiative to support entrepreneurs right across the UK to grow their business, whether regionally, nationally, or internationally.

' Entrepreneurs Exchange is about entrepreneurs supporting entrepreneurs. On one day only, 18 May, in 20 cities across the UK, at 6pm, over 40 of the nation’s leading business founders are coming together to give free, real business advice to the next generation of the UK’s entrepreneurs. To find out more, please visit:
=> link_to "www.entrepreneurs-exchange.co.uk", "http://www.entrepreneurs-exchange.co.uk"

' Thank you once again for taking the time to enter The Queen's Awards for Enterprise and I wish you every success in the future.


' Yours sincerely


' Nichola Bruno
' The Secretary, The Queen's Awards for Enterprise
