' Dear
= @user.full_name
' ,

' Firstly, we'd like to thank you, and
= @company_name
' , for taking the time to apply for The Queen's Awards for Enterprise:
= @form_answer.award_type
' .

' We understand that the application process can be time-consuming, and for this reason our assessors have compiled some feedback on your application's strengths and weaknesses, which we hope will help with any future application(s) you make.

= link_to "You can view your application feedback here.", "#"

' We hope you'll apply again next year.

' Thank you,

' The Queen's Awards Office
