.question-body
  = f.input :based_in_uk, as: :radio_buttons, item_wrapper_class: 'selectable', wrapper_html: { role: "radiogroup", "aria-labelledby" => "eligibility_#{question}_label", id: "eligibility_#{question}" }, label_html: { class: 'visuallyhidden' }
  span.clear
