.question-body
  = f.input :organization_kind, as: :radio_buttons, wrapper_html: { role: "radiogroup", "aria-labelledby" => "eligibility_#{question}_label", id: "eligibility_#{question}" }, item_wrapper_class: 'selectable', label_html: { class: 'visuallyhidden' }
  span.clear
