$black-true:      #000;
$black:           #333;
$grey-dark:       #555;
$grey-panel-dark: #706f6f;
$grey:            #999;
$grey-panel:      #dadad9;
$white-true:      #fff;
$green:           #93c355;
$amber:           #f39200;
$red:             #e30613;
