$black-true:      #000;
$black:           #333;
$less-black:      #262626;
$black-header:    #1c1c1b;
$grey-dark:       #555;
$grey-panel-dark: #706f6f;
$grey:            #999;
$grey-light:      #ccc;
$grey-lighter:    #ececec;
$grey-lightest:   #f5f5f5;
$grey-tab:        #aaa;
$grey-tab-hover:  #666;
$grey-panel:      #dadad9;
$white-true:      #fff;
$green:           #93c355;
$amber:           #f39200;
$red:             #e30613;
$blue:            #3276b1;
$selectable:      #e3e3e3;

$error-border-colour: #f2dede;

$list-actions:        #337ab7;
$list-actions-danger: #a94442;

$pagination-background: #e6e6e6;
$pagination-border: #adadad;

$header-hover: #444;

$blue-link-colour: #1A66A8;
$govuk-light-blue: #5694ca;
