@import "mixins";

// Basic
  .clear {
    clear: both;
  }

  .p-empty {
    font-style: italic;
  }

  .td-title {
    padding-left: 20px;
    font-size: 1.2em;

    a {
      color: inherit;
    }
  }

  .list-actions {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .action-title {
        display: inline-block;
        max-width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .btn-attachment {
    position: relative;
    overflow: hidden;

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
    }
  }

.iframeholder {
  position: relative;
  margin-top: 20px;

  iframe {
    width: 100%;
    height: 750px;
    border: 1px solid #999;
  }

  .js-expand-iframe {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    transition: background-color 0.15s ease, opacity 0.15s ease;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-decoration: none;
    opacity: 0;

    &:hover {
      background: #212121;
    }
  }

  &:hover .js-expand-iframe {
    opacity: 1;
  }

  .expanded-show {
    display: none;
  }

  &.iframe-expanded {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    background: #fff;
    z-index: 9999;

    .collapsed-show {
      display: none;
    }

    .expanded-show {
      display: block;
    }

    iframe {
      height: 100%;
      border: none;
    }
  }
}

// Icons
  .icon-comment,
  .icon-flagged,
  .icon-unflagged {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .icon-comment {
    position: relative;
    background-image: image-url("icon-comment.png");
    background-size: 30px 30px;

    @include is-retina {
      background-image: image-url("icon-comment@2.png");
    }

    .comment-count {
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: -5px;
      color: #333;
      font-size: 10px;
      font-weight: bold;
      text-indent: 0;
    }
  }

  .icon-flagged {
    background-image: image-url("icon-flag.png");
    background-size: 30px 30px;

    @include is-retina {
      background-image: image-url("icon-flag@2.png");
    }
  }

  .icon-unflagged {
    background-image: image-url("icon-flag-grey.png");
    background-size: 30px 30px;

    @include is-retina {
      background-image: image-url("icon-flag-grey@2.png");
    }
  }

// Search
  .search-input {
    position: relative;

    input[type="search"] {
      padding-right: 40px;
    }

    input[type="submit"] {
      position: absolute;
      width: 30px;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      text-align: left;
      text-indent: -9999px;
      background: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: image-url("icon-search.png");
      background-size: 14px 19px;
      border: none;

      @include is-retina {
        background-image: image-url("icon-search@2.png");
      }
    }
  }

// Pagination
  .pagination {
    font-size: 14px;

    > span {
      float: left;
    }

    .page.current,
    a {
      display: inline-block;
      padding: 2px 8px;

      &,
      &:hover,
      &:active,
      &:focus {
        color: #333;
      }
    }

    .page.current {
      font-weight: bold;
      -webkit-font-smoothing: initial;
      -moz-osx-font-smoothing: initial;
    }

    .page + .page {
      border-left: 1px solid #333;
    }

    .first,
    .prev,
    .next,
    .last {
      margin: 0 3px;

      a {
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }

    .first,
    .last {
      display: none;
    }
  }

// Sortable Tables
  th.sortable {
    a {
      padding-right: 16px;
      color: #333;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 10px 6px;

      &:hover {
        background-image: image-url("icon-arrow-sort-down-grey.png");

        @include is-retina {
          background-image: image-url("icon-arrow-sort-down-grey@2.png");
        }
      }

      &.ordered {
        background-image: image-url("icon-arrow-sort-down.png");

        @include is-retina {
          background-image: image-url("icon-arrow-sort-down@2.png");
        }

        &:hover {
          background-image: image-url("icon-arrow-sort-up-grey.png");

          @include is-retina {
            background-image: image-url("icon-arrow-sort-up-grey@2.png");
          }
        }

        &.ordered-desc {
          background-image: image-url("icon-arrow-sort-up.png");

          @include is-retina {
            background-image: image-url("icon-arrow-sort-up@2.png");
          }

          &:hover {
            background-image: image-url("icon-arrow-sort-down-grey.png");

            @include is-retina {
              background-image: image-url("icon-arrow-sort-down-grey@2.png");
            }
          }
        }
      }
    }
  }

// Filterable Dropdowns
  th.filter .dropdown-menu li {
    margin: 0;

    &.divider {
      margin: 5px 0;
    }

    label {
      display: block;
      padding: 7px 10px;
      padding-left: 30px;
      white-space: nowrap;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    em {
      font-size: 0.95em;
    }
  }

// Sidebar
  .show-sidebar {
    padding: 0 15px;
    background: #fff;

    h1,
    h2 {
      &:first-child {
        margin-top: 0;
      }
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 16px;
      text-transform: uppercase;

      small {
        margin-top: 0.4em;
        font-size: 12px;
        text-transform: none;
      }
    }

    .p-lg {
      font-size: 16px;
    }

    .well {
      margin: 0;
      padding: 20px 0;
      background: transparent;
      border: none;
      border-bottom: 1px solid #999;
      border-radius: 0;
      box-shadow: none;

      &:first-child {
        padding-top: 0;
      }
    }
  }

// Comments sidebar
  .col-content,
  .col-sidebar {
    .sidebar-open & {
      float: left;
    }
  }

  .col-content {
    width: auto;
    margin-right: 50px;

    .sidebar-open & {
      width: 70%;
      padding-right: 15px;
    }
  }

  .col-sidebar {
    position: absolute;
    top: 0;
    right: 15px;
    width: 40px;

    .sidebar-open & {
      width: 30%;
    }
  }

  .sidebar-header {
    font-size: 13px;

    .sidebar-open & {
      padding: 0 15px;
      background: #706f6f;
    }

    &,
    a,
    .comment-count {
      &,
      &:hover,
      &:active,
      &:focus {
        color: #dadad9;
      }
    }

    .link-flag,
    .link-comment {
      display: block;
      width: 40px;
      height: 40px;
      margin-bottom: 1px;
      text-align: center;
      text-decoration: none;
      background: #706f6f;

      .sidebar-open & {
        display: inline-block;
        width: auto;
        margin: 0;
      }
    }

    .link-flag {
      .sidebar-open & {
        float: left;
      }
    }

    .link-comment {
      .sidebar-open & {
        float: right;
      }

      .icon-text {
        padding-right: 18px;
        background-image: image-url("icon-close-comment.png");
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: right;

        @include is-retina {
          background-image: image-url("icon-close-comment@2.png");
        }
      }
    }

    .icon-comment,
    .icon-flagged,
    .icon-unflagged {
      height: 20px;
      margin-top: 10px;
    }

    .icon-comment {
      background-image: image-url("icon-comment-grey.png");

      @include is-retina {
        background-image: image-url("icon-comment-grey@2.png");
      }
    }

    .icon-flagged,
    .icon-unflagged {
      width: 20px;
    }

    .comment-count {
      display: block;

      .sidebar-open & {
        display: none;
      }
    }

    .icon-text {
      display: none;

      .sidebar-open & {
        display: inline;
      }
    }
  }

  .comments-container {
    display: none;
    color: #fff;
    background: #57585a;

    .sidebar-open & {
      display: block;
    }

    .comment,
    .comment-footer {
      padding: 15px 10px;
    }

    .comment {
      position: relative;
      min-height: 60px;
      border-bottom: 1px solid #333;
    }
  }

  .comment-header {
    margin-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
    }

    small {
      display: block;
      color: #aaa;
      font-size: 13px;
    }
  }

  .comment-content {
    font-size: 13px;
  }

  .link-delete-comment {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    padding-right: 25px;
    background: #706f6f;
    opacity: 0;

    &,
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      text-decoration: none;
    }

    .comment:hover & {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .show-delete-comment & {
      display: none;
    }

    .icon-delete-comment {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 10px;
      margin-top: -5px;
      background-image: image-url("icon-close-comment.png");
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: right;

      @include is-retina {
        background-image: image-url("icon-close-comment@2.png");
      }
    }
  }

  .overlay-delete {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.8);

    .show-delete-comment & {
      display: block;
    }

    .overlay-content {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -30px;
    }
  }

  .comment-new {
    padding: 15px 10px;
    padding-top: 0;

    textarea {
      margin-bottom: 5px;
      font-size: 13px;
    }
  }
