@import "mixins";

// Search
  .search-input {
    position: relative;

    input[type="search"] {
      padding-right: 40px;
    }

    input[type="submit"] {
      position: absolute;
      width: 30px;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      text-align: left;
      text-indent: -9999px;
      background: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: image-url("icon-search.png");
      background-size: 14px 19px;
      border: none;

      @include is-retina {
        background-image: image-url("icon-search@2.png");
      }
    }
  }

// Pagination
  .pagination {
    font-size: 14px;

    > span {
      float: left;
    }

    .page.current,
    a {
      display: inline-block;
      padding: 2px 8px;

      &,
      &:hover,
      &:active,
      &:focus {
        color: #333;
      }
    }

    .page.current {
      font-weight: bold;
      -webkit-font-smoothing: initial;
      -moz-osx-font-smoothing: initial;
    }

    .page + .page {
      border-left: 1px solid #333;
    }

    .first,
    .prev,
    .next,
    .last {
      margin: 0 3px;

      a {
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }

    .first,
    .last {
      display: none;
    }
  }
