@import "mixins";
@import "pxToRem";

// Basic
a {
  color: $blue-link-colour;
  text-decoration: underline;
  &:active,
  &:focus:not(.btn-default, [role=tab]) {
    outline: none !important;
    text-decoration: none !important;
    border-bottom-color: $black !important;
    border-bottom-width: pxToRem(2) !important;
    border-bottom-style: solid !important;
  }
}

.btn, button, a, [role=menuitem], .button_to {
  &:focus, &:focus-within {
    background-color: $govuk-highlight-yellow !important;
    border-color: $govuk-highlight-yellow;
    color: $black !important;
    outline: none !important;
  }
}

.search-submit, input[type=search],
input[type=text], input[type=tel],
input[type=email], input[type=password],
input[type=checkbox], select {
  &:focus {
    outline: pxToRem(3) solid #ffdd00 !important;
    outline-offset: 0 !important;
    box-shadow: inset 0 0 0 pxToRem(2) !important;
  }
}

.btn-primary, .button_to {
  &:focus, &:focus-within {
    border-bottom-color: $black !important;
    border-bottom-width: pxToRem(2) !important;
    border-bottom-style: solid !important;
  }
}

span {
  &.visible-lg {
    @include screen-lg-min {
      display: inline !important;
    }

    .lte-ie8 & {
      display: inline !important;
    }
  }

  &.visible-md {
    @include screen-md-min {
      display: inline !important;
    }

    .lte-ie8 & {
      display: inline !important;
    }
  }

  &.visible-sm {
    @include screen-sm-min {
      display: inline !important;
    }
  }

  &.visible-xs {
    @include screen-xs-min {
      display: inline !important;
    }
  }
}

select,
select.form-control {
  padding-right: pxToRem(20);
  background-image: image-url("icon-arrow-select.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: pxToRem(13) pxToRem(14);
  -moz-appearance: none;
  -webkit-appearance: none;

  @include is-retina {
    background-image: image-url("icon-arrow-select@2.png");
  }

  .lte-ie9 & {
    padding: 0;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4 {
  label {
    margin-bottom: 0;
  }

  .boolean.control-label {
    padding-left: 0;
  }
}

.no-js .collapse {
  display: block;
  visibility: visible;
}

.ellipsis {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

table .ellipsis {
  max-width: pxToRem(175);
}

.admin-page-heading {
  font-size: 1.85em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
  color: black;
}

.paginate-links a {
  color: $blue-link-colour;
}

.btn {
  border-radius: 0;
  text-decoration: none;

  .icon-view,
  .glyphicon,
  .btn-title {
    .lte-ie7 & {
      vertical-align: top;
    }
  }
  .btn-second-line-title {
    display: block;

    .lte-ie7 & {
      vertical-align: top;
    }
  }

  .glyphicon:first-child {
    margin-right: pxToRem(5);
  }
}

.btn-block {
  .lte-ie7 & {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-secondary {
  color: $white-true;
  background-color: $black-header;
  border-color: $black-true;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $white-true;
    background-color: $black-true;
    border-color: $black-true;
  }

  .btn-primary:active,
  .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $less-black;
      border-color: $black-header;
    }
  }

  .badge {
    color: $less-black;
    background-color: $white-true;
  }
}

.btn-confirm-submit {
  font-size: pxToRem(17);
}

.alert {
  padding-top: pxToRem(10);
  padding-bottom: pxToRem(10);
  border-radius: 0;
}

.alert-glyphicon {
  position: relative;
  padding-left: pxToRem(40);

  .glyphicon {
    position: absolute;
    top: pxToRem(15);
    left: pxToRem(15);
  }
}

.panel-body .alert {
  margin-bottom: pxToRem(30);
}

.page-header {
  margin-top: 0;
  border-color: $black;

  h1 {
    margin-top: 0;
    font-size: pxToRem(30);
  }
}

.page-header-nav {
  margin-bottom: 0;

  .btn-link {
    padding-right: 0;
    padding-left: 0;
    color: $blue-link-colour;
  }

  .pull-right a {
    margin-left: pxToRem(20);
  }

  .apps-navigation {
    .link-prev {
      float: left;
    }

    .link-next {
      float: right;
    }
  }
}

.table-overflow-container {
  overflow-x: auto;

  .table {
    width: 99.5%;
    margin-left: pxToRem(1);
  }

  .not-eligible {
    border-right: pxToRem(2) solid $black;
    width: pxToRem(75);
  }

  .table-total {
    width: pxToRem(80);
  }

  .apps-in-proggress {
    td {
      width: pxToRem(70);
    }
  }
}

.table {
  &.table-striped tbody {
    .lte-ie8 & {
      border: pxToRem(2) solid $black-true;
      border-collapse: initial !important;
    }
  }

  > thead > tr > th {
    border-color: $black;
    vertical-align: top;
  }

  th,
  td {
    vertical-align: top !important;
  }

  > tbody > tr {
    > td,
    > th {
      background-color: $white-true;
    }

    &:nth-of-type(odd) {
      > td,
      > th {
        background-color: $grey-lighter;
      }
    }

    td {
      padding-top: pxToRem(10);
    }

    .td-assessment-submitted {
      padding-right: 0;
    }
  }

  &.w-auto {
    width: auto;
  }
}

.td-title {
  a {
    display: block;
    margin-top: -0.1em;
    color: inherit;
    white-space: normal;
  }

  .ellipsis {
    max-width: pxToRem(350);

    @include screen-md-max {
      max-width: pxToRem(250);
    }
  }
}

.td-flags {
  white-space: nowrap;
}

.visuallyhidden {
  position: absolute !important;
  // don't add top back in here
  // if the element is focusable for some reason, it will jump to the top
  // so at least this way scroll stays where it is
  left: -9999px !important;
}

.clear {
  clear: both;
}

.question-group h2, h3 {
  font-size: pxToRem(18);
  font-weight: bold;
  line-height: 1.5;

  label {
    font-weight: bold;
  }
}

.form-control {
  height: auto;

  .lte-ie7 & {
    width: 93%;
  }
}

.form-group label {
  font-weight: normal;
}

.form-group,
.question-group,
#password-confirmation-control-group {
  .ie7 & {
    display: block;
    float: none;
    clear: both;
  }
}

.field-with-errors {
  .error {
    display: block;
    margin-bottom: pxToRem(5);
    color: $error-colour;

    @include screen-md-min {
      min-width: 22em;
    }
  }

  .form-control {
    border-color: $error-colour;
    background-color: $error-border-colour;
  }

  .feedback-holder {
    margin-bottom: pxToRem(15);
  }
}

.govuk-form-group--error {
  .govuk-error-message {
    display: block;
    margin-bottom: pxToRem(5);
    color: $error-colour;

    @include screen-md-min {
      min-width: 22em;
    }
  }

  .form-control {
    border-color: $error-colour;
    background-color: $error-border-colour;
  }

  .feedback-holder {
    margin-bottom: pxToRem(15);
  }
}

.input-group {
  display: block;

  .form-group {
    margin-right: pxToRem(36);
  }

  .form-control {
    display: block;
    float: none;

    &,
    &:first-child,
    &:last-child {
      border-radius: pxToRem(4);
    }
  }

  .input-group-addon {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: pxToRem(40);
    height: 2.4em;
    border-left: pxToRem(1) solid $grey-light;
    line-height: 1.5;
    z-index: 2;

    .lte-ie7 & {
      top: pxToRem(1) !important;
      padding: 0 !important;
      padding-top: pxToRem(6) !important;
    }

    .glyphicon {
      line-height: 1.3;
      visibility: visible !important;
    }
  }

  .field-with-errors {
    .error {
      position: absolute;
      top: -1.7em;
      left: 0;
    }

    .form-control {
      margin-top: 2.6em;
    }
  }
}

.well {
  background-color: $white-true;
  box-shadow: none;

  fieldset:first-child h3 {
    margin-top: 0;
  }
}

.form-actions {
  margin-top: pxToRem(30);

  .show-sidebar & {
    margin-top: 0;
  }

  .btn {
    margin-right: pxToRem(15);

    &:last-child {
      margin-right: 0;
    }

    &.pull-right {
      margin-top: 0;
    }
  }
}

.selectable {
  display: block;
  position: relative;
  margin-top: pxToRem(10);
  margin-bottom: pxToRem(10);
  padding: pxToRem(15) pxToRem(20);
  float: none;
  clear: left;
  border: pxToRem(1) solid $selectable;
  border-radius: pxToRem(4);
  background-color: $white-true;
  cursor: pointer;

  .checkbox & {
    padding-left: pxToRem(35);
  }
}

label.govuk-label.govuk-checkboxes__label.boolean.optional.govuk-label {
  margin-left: pxToRem(10);
}

// Fix boolean inputs
.boolean {
  &.input,
  &.selectable-group {
    position: relative;
  }

  &.control-label {
    padding-left: pxToRem(20);
  }

  input.boolean {
    position: absolute;
    top: pxToRem(14);
    left: 1em;
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.field-with-errors .checkbox {
    left: pxToRem(20);
  }

  &.selectable-group {
    .selectable {
      padding-left: pxToRem(40);
    }

    .checkbox {
      top: pxToRem(15);
      left: pxToRem(15);
      margin-top: 0;
    }
  }
}

.hint {
  display: block;
  margin-top: pxToRem(10);
  margin-bottom: pxToRem(10);
  color: $grey-dark;
  font-size: pxToRem(14);
}

.password-meter {
  max-width: none;
  margin-top: pxToRem(5);
  margin-right: pxToRem(-80);

  @include screen-sm-max {
    margin-right: 0;
  }
}

.p-empty {
  font-style: italic;
}

.list-actions {
  margin-bottom: 0;
  margin-left: 0;

  a {
    color: inherit;
  }

  .pull-right {
    a {
      color: $list-actions;

      &.text-danger {
        color: $list-actions-danger;
      }
    }
  }

  .glyphicon {
    margin-right: pxToRem(5);
  }

  li {
    margin-bottom: pxToRem(10);
    @extend .clearfix;

    &:last-child {
      margin-bottom: 0;
    }

    .action-title {
      display: block;
      margin-right: pxToRem(110);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .lte-ie8 & {
        max-width: pxToRem(200);
        margin-right: 0;
        float: left;
      }
    }

    a span {
      .lte-ie7 & {
        display: inline !important;
      }
    }
  }
}

.btn-attachment {
  position: relative;
  overflow: hidden;

  .lte-ie8 & {
    max-height: pxToRem(25);
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
    cursor: pointer;
    font-size: pxToRem(200);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);

    .lte-ie7 & {
      left: auto !important;
      height: 100%;
    }
  }
}

// Alerts
.alert-container {
  margin-bottom: pxToRem(30);
  z-index: 10001;

  @include screen-sm-min {
    max-width: 750px;
  }

  @include screen-md-min {
    max-width: pxToRem(970);
  }

  @include screen-lg-min {
    max-width: pxToRem(1170);
  }

  .alert {
    margin: 0;

    .lte-ie7 & {
      max-width: pxToRem(1170);
      text-align: left;
    }
  }
}

.btn-danger {
  background-color: $red !important;
}

// Icons
.icon-comment,
.icon-flagged,
.icon-unflagged,
.icon-check {
  display: inline-block;
  width: pxToRem(30);
  height: pxToRem(30);
  text-align: left;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;

  .lte-ie7 & {
    display: block;
  }
}

.icon-comment {
  position: relative;
  width: pxToRem(25);
  height: pxToRem(18);
  top: pxToRem(3);
  background-image: image-url("icon-comment-sm.png");
  background-position: left top;
  background-size: pxToRem(20) pxToRem(18);

  @include is-retina {
    background-image: image-url("icon-comment-sm@2.png");
  }

  .comment-count {
    position: absolute;
    top: pxToRem(-6);
    left: pxToRem(23);
    color: $black;
    font-size: pxToRem(10);
    font-weight: bold;
    text-indent: 0;
  }
}

.icon-comment-wrapper + .icon-flagged {
  margin-left: pxToRem(10);
  display: inline-block;
}

.icon-flagged {
  position: relative;
  width: pxToRem(25);
  height: pxToRem(18);
  top: pxToRem(3);
  background-image: image-url("icon-flag-sm.png");
  background-position: left top;
  background-size: pxToRem(12) pxToRem(15);

  @include is-retina {
    background-image: image-url("icon-flag-sm@2.png");
  }

  &.icon-flag-assessor {
    background-image: image-url("icon-flag-sm-yellow.png");

    @include is-retina {
      background-image: image-url("icon-flag-sm-yellow@2.png");
    }
  }

  .flag-count {
    position: absolute;
    top: pxToRem(-6);
    left: pxToRem(13);
    color: $black;
    font-size: pxToRem(10);
    font-weight: bold;
    text-indent: 0;
  }
}

.icon-unflagged {
  background-image: image-url("icon-flag-sm-grey.png");
  background-position: left top;
  background-size: pxToRem(12) pxToRem(15);

  @include is-retina {
    background-image: image-url("icon-flag-sm-grey@2.png");
  }
}

.icon-check {
  position: relative;
  width: pxToRem(20);
  height: pxToRem(20);
  top: pxToRem(-6);
  background-image: image-url("icon-check.png");
  background-position: center center;
  background-size: pxToRem(20) pxToRem(14);
  vertical-align: -webkit-baseline-middle;

  @include is-retina {
    background-image: image-url("icon-check@2.png");
  }

  .lte-ie7 & {
    float: left;
  }
}

.icon-view {
  width: pxToRem(18);
  min-height: pxToRem(16);
  background-image: image-url("icon-computer-sm.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: pxToRem(18) pxToRem(16);
  text-align: left;
  text-indent: -9999px;
  opacity: 0.8;
  display: inline-block;

  @include is-retina {
    background-image: image-url("icon-computer-sm@2.png");
  }

  .lte-ie7 & {
    display: block !important;
    overflow: hidden !important;
  }

  &:hover {
    opacity: 1;
  }

  .btn & {
    position: relative;
    top: pxToRem(2);
    width: pxToRem(20);
    height: pxToRem(16);
    margin-right: pxToRem(5);
    background-image: image-url("icon-computer-sm.png");
    background-size: pxToRem(18) pxToRem(16);
    opacity: 1;

    @include is-retina {
      background-image: image-url("icon-computer-sm@2.png");
    }

    .lte-ie7 & {
      display: inline !important;
      text-indent: 0;
      white-space: nowrap;
    }
  }
}

// Search
.search-input {
  position: relative !important;

  .lte-ie8 & {
    width: pxToRem(350);
    overflow: hidden;
  }

  .form_answers-index-page & {
    @include screen-sm-max {
      margin-top: pxToRem(15);
    }
  }

  .search_query {
    position: relative;

    .lte-ie8 & {
      width: pxToRem(350);
    }

    .lte-ie7 & {
      z-index: 1;
    }
  }

  [type="search"],
  input.form-control {
    padding-right: pxToRem(40);
    font-size: pxToRem(16);
    font-style: italic;
    position: relative;
    z-index: 10;
  }

  .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: pxToRem(30);
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    background-image: image-url("icon-search.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: pxToRem(15) pxToRem(21);
    text-align: left !important;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    color: transparent !important;
    left: auto;
    z-index: 1000;

    @include is-retina {
      background-image: image-url("icon-search@2.png");
    }

    .lte-ie7 & {
      color: $white-true !important;
      text-align: left !important;
    }
  }
}

// Sortable Tables
.sortable {
  a {
    padding-right: pxToRem(16);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: pxToRem(10) pxToRem(6);
    color: $black;
    background-image: image-url("icon-arrow-sort-down-grey.png");
    text-decoration: none;

    @include is-retina {
      background-image: image-url("icon-arrow-sort-down-grey@2.png");
    }

    &.ordered {
      background-image: image-url("icon-arrow-sort-down.png");

      @include is-retina {
        background-image: image-url("icon-arrow-sort-down@2.png");
      }

      &:hover {
        background-image: image-url("icon-arrow-sort-up-grey.png");

        @include is-retina {
          background-image: image-url("icon-arrow-sort-up-grey@2.png");
        }
      }

      &.ordered-desc {
        background-image: image-url("icon-arrow-sort-up.png");

        @include is-retina {
          background-image: image-url("icon-arrow-sort-up@2.png");
        }

        &:hover {
          background-image: image-url("icon-arrow-sort-down-grey.png");

          @include is-retina {
            background-image: image-url("icon-arrow-sort-down-grey@2.png");
          }
        }
      }
    }
  }
}

.muted,
.text-muted {
  color: $grey-dark;
}

// Filterable Dropdowns
.filter {
  .dropdown-toggle {
    padding: pxToRem(4) pxToRem(10);
    color: $grey-dark;
    font-size: inherit;

    .lte-ie7 & {
      position: relative;
      border-bottom: pxToRem(1) solid $grey-light;
      zoom: 1;
    }

    .text-filter,
    .caret {
      color: $black;
    }

    .text-filter {
      font-weight: bold;
    }

    .caret {
      margin-left: pxToRem(5);
    }
  }

  .dropdown-menu {
    li {
      margin: 0;

      &.divider {
        margin: pxToRem(5) 0;

        .lte-ie7 & {
          width: 100%;
          height: pxToRem(1);
          background: $grey-light;
        }
      }
    }

    label {
      display: block;
      padding: 0;
      white-space: nowrap;

      &:hover {
        background-color: $grey-lightest;
      }
    }

    input {
      margin-top: pxToRem(11);
      margin-left: pxToRem(10);
    }

    .label-contents {
      display: block;
      position: relative;
      padding: pxToRem(7) pxToRem(10);
      padding-left: pxToRem(30);
      z-index: 1;
    }

    em {
      font-size: 0.95em;
    }
  }
}

// Sidebar
.show-main-content,
.show-sidebar-container {
  padding-right: pxToRem(15);
  padding-left: pxToRem(15);
  float: left;
}

.show-main-content {
  width: 68%;

  @include screen-md-max {
    width: 100%;
  }
}

.show-sidebar-container {
  width: 32%;

  @include screen-md-max {
    width: 100%;
  }
}

.show-sidebar {
  position: relative;
  padding: pxToRem(15);
  background: $white-true;
  zoom: 1;

  @include screen-md-max {
    margin-bottom: pxToRem(30);
  }

  h1,
  h2,
  h3 {
    &:first-child {
      margin-top: 0;
    }

    .glyphicon {
      margin-right: pxToRem(5);
    }
  }

  h1 {
    font-size: pxToRem(32);

    @include screen-md-max {
      font-size: pxToRem(24);
    }
  }

  h2 {
    margin-bottom: pxToRem(20);
    font-size: pxToRem(16);
    font-weight: bold;
    text-transform: uppercase;

    @include screen-md-max {
      font-size: pxToRem(15);
    }

    .pull-right {
      @include screen-md-max {
        display: inline-block;
        width: 100%;
        margin-top: pxToRem(10);
        float: none !important;
      }
    }
  }

  h3 {
    margin-bottom: pxToRem(20);
    font-size: pxToRem(16);
    font-weight: bold;

    @include screen-md-max {
      font-size: pxToRem(15);
    }
  }

  small {
    display: block;
    margin-top: 0.25em;
    color: $grey-dark;
    font-size: pxToRem(14);
    text-transform: none;
  }

  .well {
    margin: 0;
    padding: pxToRem(20) 0;
    background: transparent;
    border: none;
    border-bottom: pxToRem(1) solid $grey;
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    .well {
      padding: 19px;
      border: pxToRem(1) solid $grey;
      border-radius: pxToRem(4);
    }
  }

  .form-actions {
    .btn:last-child {
      margin-right: 0;
    }

    .form-cancel-link:last-child {
      margin-right: pxToRem(15);
    }
  }

  .sidebar-section {
    margin-bottom: pxToRem(45);

    &:last-child {
      margin-bottom: 0;
    }

    .btn-default {
      border-color: #5C5C5C;
    }
  }
}

// Comments sidebar
.js .inline-form-view .comments-container .form-control {
  display: block;
}

.comment {
  position: relative;
  margin-bottom: pxToRem(15);

  &:first-child {
    padding-top: 0;
    border-top: none;
  }
}

.comment-header {
  margin-bottom: pxToRem(5);

  h3 {
    margin: 0;
    font-size: pxToRem(16);
    font-weight: bold;
    line-height: 1.5;
  }
}

.comment-action {
  display: block;
  margin-top: pxToRem(10);
  color: $grey-dark;
  font-size: pxToRem(14);

  .divider {
    margin: 0 pxToRem(8);
  }
}

.link-flag-comment {
  margin-left: pxToRem(3);
  padding-left: pxToRem(17);
  background-image: image-url("icon-flag-sm-grey.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: pxToRem(12) pxToRem(15);

  @include is-retina {
    background-image: image-url("icon-flag-sm-grey@2.png");
  }

  &,
  &:hover,
  &:focus {
    color: $grey-dark;
  }

  .flagged-visible {
    display: none;
  }

  .comment-flagged & {
    background-image: image-url("icon-flag-sm.png");

    @include is-retina {
      background-image: image-url("icon-flag-sm@2.png");
    }

    &,
    &:hover,
    &:focus {
      color: $black;
    }

    .flagged-visible {
      display: inline;
    }

    .unflagged-visible {
      display: none;
    }
  }

  .comment-assessor .comment-flagged & {
    background-image: image-url("icon-flag-sm-yellow.png");

    @include is-retina {
      background-image: image-url("icon-flag-sm-yellow@2.png");
    }
  }
}

.link-delete-comment {
  display: inline-block;
  position: relative;
  padding-right: pxToRem(15);
  font-size: pxToRem(14);
  font-weight: normal;

  .show-delete-comment & {
    display: none;
  }

  .icon-delete-comment {
    position: absolute;
    top: 50%;
    right: 0;
    width: pxToRem(10);
    height: pxToRem(10);
    margin-top: pxToRem(-5);
    background-image: image-url("icon-close-comment.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: pxToRem(10) pxToRem(10);

    @include is-retina {
      background-image: image-url("icon-close-comment@2.png");
    }
  }
}

.overlay-delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: $white-true;
  text-align: center;

  .lte-ie8 & {
    background: $black;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }

  .show-delete-comment & {
    display: block;
  }

  .overlay-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: pxToRem(-36);
  }
}

.comment-insert {
  margin-top: pxToRem(15);
}

.comment-actions {
  margin-top: pxToRem(10);

  .link-flag-comment {
    display: inline-block;
    margin-top: pxToRem(5);
  }

  input[type="checkbox"] {
    .js & {
      display: none;
    }
  }
}

// Collapsable panes
.panel {
  background-color: transparent;
  box-shadow: none;

  thead > tr > th {
    vertical-align: bottom;
  }

  label {
    font-weight: bold;
  }

  .radio,
  .checkbox {
    label {
      font-weight: normal;
    }
  }

  tbody {
    border: pxToRem(2) solid $black;

    > tr > th {
      border-right: pxToRem(2) solid $black;
    }
  }

  .table-borderless tbody {
    &,
    > tr > th,
    > tr > td {
      border: none;
    }
  }
}

.panel-group .panel {
  border: none;
  border-radius: 0;
}

.panel-default > .panel-heading {
  border: none;
  border-radius: 0;
  background-color: $grey-panel;

  &:focus-within {
    background-color: $govuk-highlight-yellow;
    border-bottom-color: $black !important;
    border-bottom-width: pxToRem(2) !important;
    border-bottom-style: solid !important;
  }
}

.panel-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: pxToRem(16);
  line-height: 1.1 !important;

  > a {
    padding-left: pxToRem(25);
    background-image: image-url("icon-arrow-collapse-down.png");
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    background-size: pxToRem(12) pxToRem(8);
    text-decoration: none;

    &:focus {
      border-bottom: none !important;

      small {
        color: $black !important;
      }
    }

    @include is-retina {
      background-image: image-url("icon-arrow-collapse-down@2.png");
    }

    .lte-ie7 & {
      display: block;
    }

    .expanded & {
      background-image: image-url("icon-arrow-collapse-up.png");

      @include is-retina {
        background-image: image-url("icon-arrow-collapse-up@2.png");
      }
    }
  }

  small {
    display: inline-block;
    width: 100%;
    margin-top: pxToRem(10);
    padding-left: pxToRem(25);
    color: $grey-dark;
    font-size: pxToRem(14);
    font-style: italic;
    text-transform: none;

    @include screen-md-max {
      display: inline-block;
      width: 100%;
      margin-top: pxToRem(10);
      padding-left: pxToRem(25);
      float: none !important;
    }

    .lte-ie7 & {
      padding-left: 0;
    }
  }
}

.panel-parent {
  > .panel-heading {
    background-color: $grey-panel-dark;

    > .panel-title {
      a,
      small {
        color: $white-true;
      }

      a {
        background-image: image-url("icon-arrow-collapse-down-white.png");

        &:focus {
          background-image: image-url("icon-arrow-collapse-down.png") !important;
        }

        @include is-retina {
          background-image: image-url("icon-arrow-collapse-down-white@2.png");

          &:focus {
            background-image: image-url("icon-arrow-collapse-down@2.png") !important;
          }
        }
      }
    }

    &.expanded > .panel-title a {
      background-image: image-url("icon-arrow-collapse-up-white.png");

      &:focus {
        background-image: image-url("icon-arrow-collapse-up.png") !important;
      }

      @include is-retina {
        background-image: image-url("icon-arrow-collapse-up-white@2.png");

        &:focus {
          background-image: image-url("icon-arrow-collapse-up@2.png") !important;
        }
      }
    }
  }

  > .panel-collapse > .panel-body {
    padding-right: 0;
  }
}

// RAG dropdown
.form-label-rag {
  display: block;
  position: relative;
  margin-top: pxToRem(10);
  margin-bottom: pxToRem(10);

  @include screen-xs-max {
    margin-top: 0;
    margin-bottom: 0;
  }

  .strengths-section & {
    @include screen-lg-max {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.rag_section_label {
  display: block;
  width: 75%;
}

.btn-rag {
  position: absolute;
  right: 0;
  top: pxToRem(-5);

  @include screen-xs-max {
    display: block;
    position: static;
  }

  &.open {
    .lte-ie7 & {
      z-index: 9999;
    }
  }

  .strengths-section & {
    @include screen-lg-max {
      display: block;
      position: static;
    }
  }

  .icon-rag {
    position: absolute;
    top: 50%;
    right: 0;
    width: pxToRem(20);
    height: pxToRem(20);
    margin-top: pxToRem(-10);
    background-size: pxToRem(20) pxToRem(20);
    text-align: left;
    text-indent: -9999px;
  }

  &.rag-editable .icon-rag {
    right: pxToRem(15);
  }

  .caret {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: pxToRem(-2);
  }

  .dropdown-toggle,
  .dropdown-menu a {
    position: relative;
    font-weight: bold;
  }

  .dropdown-toggle {
    padding-right: pxToRem(25);
    padding-left: 0;

    @include screen-xs-max {
      float: none;
      text-align: left;
      white-space: normal;
    }

    .strengths-section & {
      @include screen-lg-max {
        float: none;
      }

      @include screen-xs-max {
        width: 100%;
      }
    }
  }

  &.rag-editable .dropdown-toggle {
    padding-right: pxToRem(40);
  }

  .dropdown-menu {
    &.pull-right {
      @include screen-xs-max {
        right: auto;
      }

      .strengths-section & {
        @include screen-lg-max {
          right: auto;
        }
      }
    }

    a {
      padding-top: pxToRem(6);
      padding-bottom: pxToRem(6);
      padding-left: pxToRem(37);

      @include screen-xs-max {
        white-space: normal;
      }
    }

    .icon-rag {
      left: pxToRem(12);
    }
  }

  .rag-error {
    background-color: #f2dede;
    color: #a94442 !important;
  }

  .rag-blank {
    &,
    a,
    a:hover,
    a:focus {
      color: $black;
    }

    .icon-rag {
      background-image: image-url("icon-grade-blank.png");

      @include is-retina {
        background-image: image-url("icon-grade-blank@2.png");
      }
    }
  }

  .rag-neutral {
    &,
    a,
    a:hover,
    a:focus {
      color: $black;
    }

    .icon-rag {
      background-image: image-url("icon-grade-neutral.png");

      @include is-retina {
        background-image: image-url("icon-grade-neutral@2.png");
      }
    }
  }

  .rag-positive {
    &,
    a,
    a:hover,
    a:focus {
      color: $green;
    }

    .icon-rag {
      background-image: image-url("icon-grade-green.png");

      @include is-retina {
        background-image: image-url("icon-grade-green@2.png");
      }
    }
  }

  .rag-average {
    &,
    a,
    a:hover,
    a:focus {
      color: $amber;
    }

    .icon-rag {
      background-image: image-url("icon-grade-amber.png");

      @include is-retina {
        background-image: image-url("icon-grade-amber@2.png");
      }
    }
  }

  .rag-negative {
    &,
    a,
    a:hover,
    a:focus {
      color: $red;
    }

    .icon-rag {
      background-image: image-url("icon-grade-red.png");

      @include is-retina {
        background-image: image-url("icon-grade-red@2.png");
      }
    }
  }

  .non-editable {
    cursor: default;

    &,
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
}
// Fields that are added dynamically
.list-add {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;

    .form-group & .row,
    .form-control {
      margin-bottom: 0;
    }

    .form-control {
      @include screen-sm-max {
        margin-bottom: pxToRem(10);
      }
    }
  }

  .pull-right {
    margin-top: 0.4em;

    @include screen-sm-max {
      margin-top: 0;
      margin-bottom: pxToRem(10);
    }
  }
}

.button_to {
  .as-link {
    background: none;
    border: none;
    display: block;
    padding: pxToRem(3) pxToRem(20);
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: $black;
    white-space: nowrap;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: $grey-lightest;
      color: $less-black;
      text-decoration: none;
    }
  }
}

.page-header-nav .btn-link.pull-left,
.search-form h2 .btn-link {
  margin-right: pxToRem(30);
  padding-right: 0;
  padding-left: 0;
}

.glyphicon-paperclip,
.glyphicon-file,
.glyphicon-pencil,
.glyphicon-info-sign,
.glyphicon-download-alt,
.glyphicon-ok,
.glyphicon-remove,
.glyphicon-user,
.glyphicon-star,
.glyphicon-star-empty {
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    display: none;
  }
}

.glyphicon-paperclip {
  width: pxToRem(16);
  height: pxToRem(16);
  background-image: image-url("icon-attach.png");
  background-size: pxToRem(16) pxToRem(16);

  @include is-retina {
    background-image: image-url("icon-attach@2.png");
  }
}

.glyphicon-pencil {
  width: pxToRem(15);
  height: pxToRem(13);
  background-image: image-url("icon-edit-black.png");
  background-size: pxToRem(15) pxToRem(13);

  @include is-retina {
    background-image: image-url("icon-edit-black@2.png");
  }
}

.glyphicon-file {
  width: pxToRem(12);
  height: pxToRem(16);
  background-image: image-url("icon-file.png");
  background-size: pxToRem(12) pxToRem(16);

  @include is-retina {
    background-image: image-url("icon-file@2.png");
  }
}

.glyphicon-info-sign {
  width: pxToRem(15);
  height: pxToRem(15);
  background-image: image-url("icon-info.png");
  background-size: pxToRem(15) pxToRem(15);

  @include is-retina {
    background-image: image-url("icon-info@2.png");
  }
}

.glyphicon-download-alt {
  width: pxToRem(15);
  height: pxToRem(16);
  background-image: image-url("icon-download.png");
  background-size: pxToRem(15) pxToRem(16);

  &.black {
    background-image: image-url("icon-download-black.png");
  }

  @include is-retina {
    background-image: image-url("icon-download@2.png");

    &.black {
      background-image: image-url("icon-download-black@2.png");
    }
  }
}

.glyphicon-user {
  width: pxToRem(14);
  height: pxToRem(14);
  background-image: image-url("icon-user.png");
  background-size: pxToRem(14) pxToRem(14);

  @include is-retina {
    background-image: image-url("icon-user@2.png");
  }
}

.glyphicon-ok {
  width: pxToRem(15);
  height: pxToRem(12);
  background-image: image-url("icon-valid.png");
  background-size: pxToRem(15) pxToRem(12);

  @include is-retina {
    background-image: image-url("icon-valid@2.png");
  }

  #password-result-span &,
  #password-confirmation-result-span & {
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }

  .js .good-password #password-result-span &,
  .js
    .good-password
    #password-confirmation-result-span.confirmation-matching
    & {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}

.glyphicon-remove {
  width: pxToRem(11);
  height: pxToRem(11);
  background-image: image-url("icon-invalid.png");
  background-size: pxToRem(11) pxToRem(11);

  @include is-retina {
    background-image: image-url("icon-invalid@2.png");
  }

  .text-danger & {
    background-image: image-url("icon-remove.png");

    @include is-retina {
      background-image: image-url("icon-remove@2.png");
    }
  }
}

.award-year-z-index {
  .lte-ie7 & {
    position: relative;
    z-index: 2;
  }
}

.award-year-container {
  position: relative;

  .award-year-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.35em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .award-year-dropdown {
    max-width: pxToRem(142);
    margin-left: pxToRem(120);
    margin: 0 !important;
  }

  &.award-year--vertical {
    .award-year-label {
      position: static;
      display: block;
    }

    .award-year-dropdown {
      margin-left: 0 !important;
    }
  }

  .btn {
    text-align: left;

    .caret-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      padding-right: pxToRem(10);
      padding-left: pxToRem(10);
      border-left: pxToRem(1) solid $less-black;
      background: $black-header;

      .caret {
        margin-top: 0.7em;
        color: $white-true;
      }
    }
  }

  .btn:hover,
  .btn:active,
  .open > .dropdown-toggle {
    .caret-container {
      border-color: $black-true;
      background-color: $less-black;
    }
  }

  .btn:active .caret-container {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 pxToRem(3) pxToRem(5) rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 pxToRem(3) pxToRem(5) rgba(0, 0, 0, 0.125);
  }

  .dropdown-menu {
    left: 0;
    min-width: 100px;
    z-index: 2000;

    > li > a {
      padding-left: pxToRem(12);
    }
  }
}

.glyphicon-star,
.glyphicon-star-empty {
  width: pxToRem(16);
  height: pxToRem(15);
  background-size: pxToRem(16) pxToRem(15);
}

.glyphicon-star {
  background-image: image-url("icon-star.png");

  @include is-retina {
    background-image: image-url("icon-star@2.png");
  }
}

.glyphicon-star-empty {
  background-image: image-url("icon-star-empty.png");

  @include is-retina {
    background-image: image-url("icon-star-empty@2.png");
  }
}

// Character count
.char-count-label .label-char-count-reposition {
  display: block;
  margin-bottom: -1.8em;
}

.char-space {
  display: inline-block;
  width: pxToRem(160);
  height: 1em;
}

.char-count {
  position: relative;

  &.char-max-shift {
    margin-top: -1.7em;
  }
}

.char-text-limit {
  font-size: pxToRem(14);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  text-align: right;
}
.char-text {
  font-size: pxToRem(14);
  margin-top: 0.2em;
  text-align: right;

  .char-over & {
    color: $error-colour;
  }
}

.nav-subnav {
  margin-bottom: pxToRem(15);
  border-bottom: pxToRem(4) solid $black-header;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    @include screen-sm-max {
      display: block;
    }
  }

  li {
    float: left;

    @include screen-sm-max {
      float: none;
    }

    &:first-child a {
      @include screen-sm-min {
        padding-left: 0;
      }
    }
  }

  a {
    display: block;
    padding: pxToRem(10) pxToRem(15);
    padding-bottom: pxToRem(15);
    float: left;
    color: $black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include screen-md-max {
      padding: pxToRem(8) pxToRem(10);
      padding-bottom: pxToRem(15);
    }

    @include screen-sm-max {
      float: none;
    }
  }

  .active a {
    background: transparent image-url("icon-arrow-admin-subnav.png") no-repeat
      center 110%;
    background-size: pxToRem(24) pxToRem(12);
    color: $blue-link-colour;

    @include is-retina {
      background-image: image-url("icon-arrow-admin-subnav@2.png");
    }

    @include screen-sm-max {
      background: none;
    }
  }
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.5rem;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 1rem;
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 1.5rem;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1.5rem;
}

.alert button.close {
  font-size: pxToRem(18);
}
