// Date/time Picker Inputs
.datepicker,
.timepicker {
  display: inline-block;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 18px 18px;
}

.datepicker {
  width: 135px;
  background-image: image-url("icon-date-picker.png");

  @include is-retina {
    background-image: image-url("icon-date-picker@2.png");
  }

  @include screen-sm-max {
    width: 100%;
  }

  .lte-ie7 & {
    width: 80px !important;
  }
}

.timepicker {
  width: 95px;
  margin-left: 10px;
  background-image: image-url("icon-time-picker.png");

  @include is-retina {
    background-image: image-url("icon-time-picker@2.png");
  }

  @include screen-sm-max {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .lte-ie7 & {
    width: 50px !important;
  }
}

// Time Picker Dropdown
.time-picker {
  display: none;
  position: absolute;
  min-width: 95px;
  max-height: 200px;
  margin: 2px 0 0;
  padding: 5px 0;
  float: left;
  border: 1px solid $grey-light;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $white-true;
  font-size: 14px;
  list-style: none;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  overflow: auto;
  z-index: 99;
  background-clip: padding-box;

  li {
    display: block;
    padding: 3px 20px;
    clear: both;
    cursor: pointer;
    color: $black;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;

    &.selected {
      background-color: $grey-lightest;
    }

    &.active {
      background-color: $blue;
      color: $white-true;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

// Date Picker Dropdown
body .ui-datepicker {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  min-width: 160px;
  margin: 2px 0 0;
  padding: 4px;
  float: left;
  border: 1px solid $grey-light;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $white-true;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 1000;
  background-clip: padding-box;

  .ui-datepicker-header {
    border: none;
    background: transparent;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    text-align: center;

    &:hover {
      top: 2px;
      border: none;
      background: $grey-lightest;
    }
  }

  .ui-datepicker-prev:hover {
    left: 2px;
  }

  .ui-datepicker-next:hover {
    right: 2px;
  }

  .ui-datepicker-title {
    width: 145px;
    height: 30px;
    margin: 0 35px;
    border: none;
    border-radius: 4px;
    text-align: center;
  }

  .ui-datepicker-calendar {
    .lte-ie7 & {
      width: 200px !important;
    }
  }

  table {
    font-size: 1em;
  }

  th,
  td a {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    text-align: center;
  }

  td {
    padding: 0;

    a:hover {
      background-color: $grey-lightest;
    }
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: none;
    background: transparent;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  .ui-state-active:hover,
  .ui-widget-content .ui-state-active:hover,
  .ui-widget-header .ui-state-active:hover {
    background-color: $blue;
    color: $white-true;
    font-weight: bold;
  }
}
