@import "pxToRem";
// Date/time Picker Inputs
.datepicker,
.timepicker {
  display: inline-block;
  padding-left: pxToRem(35);
  background-repeat: no-repeat;
  background-position: pxToRem(7) pxToRem(7);
  background-size: pxToRem(18) pxToRem(18);
}

.datepicker {
  width: pxToRem(135);
  background-image: image-url("icon-date-picker.png");

  @include is-retina {
    background-image: image-url("icon-date-picker@2.png");
  }

  @include screen-sm-max {
    width: 100%;
  }

  .lte-ie7 & {
    width: pxToRem(80) !important;
  }
}

.timepicker {
  width: pxToRem(95);
  margin-left: pxToRem(10);
  background-image: image-url("icon-time-picker.png");

  @include is-retina {
    background-image: image-url("icon-time-picker@2.png");
  }

  @include screen-sm-max {
    width: 100%;
    margin-top: pxToRem(10);
    margin-left: 0;
  }

  .lte-ie7 & {
    width: 50px !important;
  }
}

// Time Picker Dropdown
.time-picker {
  display: none;
  position: absolute;
  min-width: pxToRem(95);
  max-height: pxToRem(200);
  margin: pxToRem(2) 0 0;
  padding: pxToRem(5) 0;
  float: left;
  border: pxToRem(1) solid $grey-light;
  border: pxToRem(1) solid rgba(0, 0, 0, 0.15);
  border-radius: pxToRem(4);
  background-color: $white-true;
  font-size: pxToRem(14);
  list-style: none;
  text-align: left;
  box-shadow: 0 pxToRem(6) pxToRem(12) rgba(0, 0, 0, 0.175);
  overflow: auto;
  z-index: 99;
  background-clip: padding-box;

  li {
    display: block;
    padding: pxToRem(3) pxToRem(20);
    clear: both;
    cursor: pointer;
    color: $black;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;

    &.selected {
      background-color: $grey-lightest;
    }

    &.active {
      background-color: $blue;
      color: $white-true;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

// Date Picker Dropdown
body .ui-datepicker {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  min-width: pxToRem(160);
  margin: pxToRem(2) 0 0;
  padding: pxToRem(4);
  float: left;
  border: pxToRem(1) solid $grey-light;
  border: pxToRem(1) solid rgba(0, 0, 0, 0.15);
  border-radius: pxToRem(4);
  background-color: $white-true;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: pxToRem(14);
  list-style: none;
  box-shadow: 0 pxToRem(6) pxToRem(12) rgba(0, 0, 0, 0.175);
  z-index: 1000;
  background-clip: padding-box;

  .ui-datepicker-header {
    border: none;
    background: transparent;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: pxToRem(30);
    height: pxToRem(30);
    border: none;
    border-radius: pxToRem(4);
    text-align: center;

    &:hover {
      top: pxToRem(2);
      border: none;
      background: $grey-lightest;
    }
  }

  .ui-datepicker-prev:hover {
    left: pxToRem(2);
  }

  .ui-datepicker-next:hover {
    right: pxToRem(2);
  }

  .ui-datepicker-title {
    width: pxToRem(145);
    height: pxToRem(30);
    margin: 0 pxToRem(35);
    border: none;
    border-radius: pxToRem(4);
    text-align: center;
  }

  .ui-datepicker-calendar {
    .lte-ie7 & {
      width: pxToRem(200) !important;
    }
  }

  table {
    font-size: 1em;
  }

  th,
  td a {
    width: pxToRem(30);
    height: pxToRem(30);
    padding: pxToRem(5);
    border: none;
    border-radius: pxToRem(4);
    text-align: center;
  }

  td {
    padding: 0;

    a:hover {
      background-color: $grey-lightest;
    }
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: none;
    background: transparent;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  .ui-state-active:hover,
  .ui-widget-content .ui-state-active:hover,
  .ui-widget-header .ui-state-active:hover {
    background-color: $blue;
    color: $white-true;
    font-weight: bold;
  }
}
