@import "mixins";
@import "pxToRem";

#site-header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *z-index: 1000;

  @include screen-lg-max {
    font-size: pxToRem(14);
  }

  @include screen-md-max {
    font-size: pxToRem(13);
  }

  @include screen-sm-max {
    font-size: pxToRem(14);
  }

  .lte-ie8 & {
    background: $black-header;
    clear: both;
    height: pxToRem(70);
    margin-bottom: pxToRem(40) !important;
  }

  .caret {
    margin-left: pxToRem(5);
    border-top-width: pxToRem(7);
    border-right-width: pxToRem(6);
    border-left-width: pxToRem(6);

    @include screen-md-max {
      margin-left: pxToRem(3);
      border-top-width: pxToRem(5);
      border-right-width: pxToRem(4);
      border-left-width: pxToRem(4);
    }
  }

  .container {
    .lte-ie8 & {
      width: 90% !important;
      margin: 0 auto;
    }
  }

  .navbar-header {
    .lte-ie8 & {
      float: left;
    }
  }

  .navbar-toggle {
    margin-top: pxToRem(16);
    margin-bottom: pxToRem(16);

    .icon-bar {
      background-color: $white-true;
    }

    .lte-ie8 & {
      display: none !important;
    }
  }

  .navbar-collapse {
    .lte-ie8 & {
      display: block !important;
      margin-left: pxToRem(50);
    }

    &.collapse {
      .lte-ie8 & {
        display: block !important;
        visibility: visible !important;
      }
    }
  }

  .navbar {
    margin-bottom: pxToRem(40);
    border: none;
    border-radius: 0;
    background: $black-header;

    .lte-ie7 & {
      height: pxToRem(81) !important;
      z-index: 100001 !important;
    }

    .navbar-nav {
      .lte-ie8 & {
        z-index: 10001 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        top: 0 !important;
      }
    }

    .navbar-nav > li > a,
    .navbar-nav > li > details {
      padding-top: pxToRem(24);
      padding-bottom: pxToRem(23);
      color: $white-true;
      text-transform: uppercase;
      background: transparent;
      text-decoration: none;

      @include screen-md-max {
        padding-right: pxToRem(8);
        padding-left: pxToRem(8);
      }

      @include screen-sm-max {
        padding: pxToRem(20) pxToRem(15);
      }

      > .dropdown-menu {
        display: block;
        text-transform: none;
      }
    }
  }

  .nav {
    .lte-ie8 & {
      float: left !important;
      position: relative;
      top: pxToRem(-10);
    }

    &.navbar-right {
      .lte-ie8 & {
        float: right !important;
      }
    }
  }

  .nav > li {
    margin: 0 pxToRem(10);

    @include screen-lg-max {
      margin: 0;
    }

    @include screen-sm-max {
      margin: 0;
    }

    .lte-ie8 & {
      float: left !important;
    }

    &:last-child {
      margin-right: 0;
    }

    > a, > details {
      .lte-ie8 & {
        display: block !important;
        padding-top: pxToRem(26) !important;
        padding-bottom: pxToRem(26) !important;
        color: $white-true !important;
      }

      .lte-ie7 & {
        padding-top: pxToRem(30) !important;
        padding-bottom: pxToRem(30) !important;
      }

      &:hover,
      &:focus {
        background-color: $header-hover;
        cursor: pointer;

        @include is-ios {
          background-color: transparent;
        }
      }

      &:focus {
        @include screen-sm-max {
          background-color: transparent;
        }
      }
    }

    > details {
      padding: 0 pxToRem(10);

      &:focus-within {
        background-color: $govuk-highlight-yellow !important;
        color: $black !important;
        outline: none !important;
        border-bottom-color: $black !important;
        border-bottom-width: pxToRem(2) !important;
        border-bottom-style: solid !important;

        summary {
          outline: none !important;
        }
      }
    }

    &.active > a {
      background: transparent image-url("icon-arrow-admin-nav.png") no-repeat center bottom;
      background-size: pxToRem(24) pxToRem(12);

      @include is-retina {
        background-image: image-url("icon-arrow-admin-nav@2.png");
      }

      @include screen-sm-max {
        background: $black;
        font-weight: bold;
      }
    }
  }

  .dropdown-menu {
    z-index: 1001;

    @include screen-sm-max {
      border-radius: 0;
      background: $black;
    }

    .lte-ie8 & {
      z-index: 999999 !important;
    }

    > li > span,
    > li > .button_to {
      display: block;
      padding: pxToRem(3) pxToRem(20);
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;

      @include screen-sm-max {
        padding: 0;
      }
    }

    > li > a,
    > li > span,
    > li > .button_to > input[type="submit"] {
      @include screen-sm-max {
        padding: pxToRem(15);
        padding-left: pxToRem(35);
        color: $white-true;
        text-transform: uppercase;
        text-align: left;
      }

      .lte-ie8 & {
        padding: pxToRem(7) pxToRem(10) !important;
        color: $black !important;
      }
    }

    > li > a,
    > li > .button_to {
      &:hover,
      &:focus {
        @include screen-sm-max {
          background: $header-hover;
        }

        @include is-ios {
          background-color: transparent;
        }
      }
    }

    .button_to {
      display: inline;

      input[type="submit"] {
        background: none;
        padding: 0;
        border: none;
        color: black;
        text-decoration: underline;

        .lte-ie7 & {
          font-size: pxToRem(16);
        }
      }

      &:hover {
        background-color: $grey-lightest;
      }
    }
  }

  .open .dropdown-toggle {
    .lte-ie8 & {
      background-color: $header-hover !important;
    }
  }

  // moving down here seems to make it work
  .navbar-brand {
    padding: pxToRem(14);
    height: 100%;
    img {
      width: pxToRem(28);
      height: pxToRem(33);
    }
  }
}
