@import "mixins";

#site-header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *z-index: 1000;

  @include screen-lg-max {
    font-size: 14px;
  }

  @include screen-md-max {
    font-size: 13px;
  }

  @include screen-sm-max {
    font-size: 14px;
  }

  .lte-ie8 & {
    background: $black-header;
    clear: both;
    height: 70px;
    margin-bottom: 40px !important;
  }

  .caret {
    margin-left: 5px;
    border-top-width: 7px;
    border-right-width: 6px;
    border-left-width: 6px;

    @include screen-md-max {
      margin-left: 3px;
      border-top-width: 5px;
      border-right-width: 4px;
      border-left-width: 4px;
    }
  }


  .container {
    .lte-ie8 & {
      width: 90% !important;
      margin: 0 auto;
    }
  }

  .navbar-header {
    .lte-ie8 & {
      float: left;
    }
  }

  .navbar-toggle {
    margin-top: 16px;
    margin-bottom: 16px;

    .icon-bar {
      background-color: $white-true;
    }

    .lte-ie8 & {
      display: none !important;
    }
  }

  .navbar-collapse {
    .lte-ie8 & {
      display: block !important;
      margin-left: 50px;
    }

    &.collapse {
      .lte-ie8 & {
        display: block !important;
        visibility: visible !important;
      }
    }
  }

  .navbar {
    margin-bottom: 40px;
    border: none;
    border-radius: 0;
    background: $black-header;

    .lte-ie7 & {
      height: 81px !important;
      z-index: 100001 !important;
    }

    .navbar-nav {
      .lte-ie8 & {
        z-index: 10001 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        top: 0 !important;
      }
    }

    .navbar-nav > li > a,
    .navbar-nav > li > details {
      padding-top: 24px;
      padding-bottom: 23px;
      color: $white-true;
      text-transform: uppercase;
      background: transparent;
      text-decoration: none;

      @include screen-md-max {
        padding-right: 8px;
        padding-left: 8px;
      }

      @include screen-sm-max {
        padding: 20px 15px;
      }

      > .dropdown-menu {
        display: block;
        text-transform: none;
      }
    }
  }

  .nav {
    .lte-ie8 & {
      float: left !important;
      position: relative;
      top: -10px;
    }

    &.navbar-right {
      .lte-ie8 & {
        float: right !important;
      }
    }
  }

  .nav > li {
    margin: 0 10px;

    @include screen-lg-max {
      margin: 0;
    }

    @include screen-sm-max {
      margin: 0;
    }

    .lte-ie8 & {
      float: left !important;
    }

    &:last-child {
      margin-right: 0;
    }

    > a, > details {
      .lte-ie8 & {
        display: block !important;
        padding-top: 26px !important;
        padding-bottom: 26px !important;
        color: $white-true !important;
      }

      .lte-ie7 & {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
      }

      &:hover,
      &:focus {
        background-color: $header-hover;
        cursor: pointer;

        @include is-ios {
          background-color: transparent;
        }
      }

      &:focus {
        @include screen-sm-max {
          background-color: transparent;
        }
      }
    }

    > details {
      padding: 0 10px;

      &:focus-within {
        background-color: $govuk-highlight-yellow !important;
        color: $black !important;
        outline: none !important;
        border-bottom-color: $black !important;
        border-bottom-width: 2px !important;
        border-bottom-style: solid !important;

        summary {
          outline: none !important;
        }
      }
    }

    &.active > a {
      background: transparent image-url("icon-arrow-admin-nav.png") no-repeat center bottom;
      background-size: 24px 12px;

      @include is-retina {
        background-image: image-url("icon-arrow-admin-nav@2.png");
      }

      @include screen-sm-max {
        background: $black;
        font-weight: bold;
      }
    }
  }

  .dropdown-menu {
    z-index: 1001;

    @include screen-sm-max {
      border-radius: 0;
      background: $black;
    }

    .lte-ie8 & {
      z-index: 999999 !important;
    }

    > li > span {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
    }

    > li > a,
    > li > span {
      @include screen-sm-max {
        padding: 15px;
        padding-left: 35px;
        color: $white-true;
        text-transform: uppercase;
      }

      .lte-ie8 & {
        padding: 7px 10px !important;
        color: $black !important;
      }
    }

    > li > a {
      &:hover,
      &:focus {
        @include screen-sm-max {
          background: $header-hover;
        }

        @include is-ios {
          background-color: transparent;
        }
      }
    }
  }

  .open .dropdown-toggle {
    .lte-ie8 & {
      background-color: $header-hover !important;
    }
  }

  // moving down here seems to make it work
  .navbar-brand {
    padding: 14px;
    height: 100%;
    img {
      width: 28px;
      height: 33px;
    }
  }
}
