@import "mixins";

#site-header {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include screen-md-max {
    font-size: 16px;
  }

  .caret {
    margin-left: 5px;
    border-top-width: 7px;
    border-right-width: 6px;
    border-left-width: 6px;
  }

  .navbar-toggle {
    margin-top: 16px;
    margin-bottom: 16px;

    .icon-bar {
      background-color: #fff;
    }
  }

  .navbar {
    margin-bottom: 40px;
    border: none;
    border-radius: 0;
    background: #1c1c1b;

    .navbar-brand,
    .navbar-nav > li > a {
      background: transparent;
      color: $white-true;
      text-transform: uppercase;
    }

    .navbar-brand {
      width: 58px;
      height: 67px;
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;
      text-indent: -9999px;
      background: image-url("logo-admin.png") no-repeat center center;
      background-size: 28px 37px;

      @include is-retina {
        background-image: image-url("logo-admin@2.png");
      }
    }

    .navbar-nav > li > a {
      padding-top: 24px;
      padding-bottom: 23px;

      @include screen-md-max {
        padding-right: 10px;
        padding-left: 10px;
      }

      @include screen-sm-max {
        padding: 20px 15px;
      }
    }
  }

  .nav > li {
    margin: 0 20px;

    @include screen-md-max {
      margin: 0 10px;
    }

    @include screen-sm-max {
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    > a {
      &:hover,
      &:focus {
        background-color: #444;

        @include is-ios {
          background-color: transparent;
        }
      }

      &:focus {
        @include screen-sm-max {
          background-color: transparent;
        }
      }
    }

    &.active > a {
      background: transparent image-url("icon-arrow-admin-nav.png") no-repeat center bottom;
      background-size: 24px 12px;

      @include is-retina {
        background-image: image-url("icon-arrow-admin-nav@2.png");
      }

      @include screen-sm-max {
        background: #333;
        font-weight: bold;
      }
    }
  }

  .dropdown-menu {
    @include screen-sm-max {
      border-radius: 0;
      background: #333;
    }

    > li > a {
      @include screen-sm-max {
        padding: 15px;
        padding-left: 35px;
        color: #fff;
        text-transform: uppercase;
      }

      &:hover,
      &:focus {
        @include screen-sm-max {
          background: #444;
        }

        @include is-ios {
          background-color: transparent;
        }
      }
    }
  }
}
