@import "mixins";
@import "pxToRem";

$footer-height: pxToRem(60);
$footer-height-sm: pxToRem(30);

html,
body,
body > .ember-view {
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

body {
  position: relative;
  background: $grey-lightest;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#site-wrapper {
  min-height: 100%;
  _height: 100%;
  z-index: 2;
}

#site-wrapper-margin {
  margin: 0 auto;
  padding-bottom: $footer-height;
  position: relative;

  @include screen-sm-max {
    padding-bottom: $footer-height-sm;
  }
}

#site-footer {
  position: relative;
  width: 100%;
  height: $footer-height;
  margin-top: -$footer-height;
  z-index: 2;

  @include screen-sm-max {
    height: $footer-height-sm;
    margin-top: -$footer-height-sm;
  }
}

.dev-banner,
.staging-banner {
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: pxToRem(-40);
}

.dev-banner {
  background: #1d70b8;
}

.staging-banner {
  background: #ff5346;
}

.admin-assessor-js-status-banner {
  position: relative;
  top: pxToRem(-40);
  padding: 0.5em;
  text-align: center;
  background-color: #fff2d3;
  color: #0b0c0c;
}

.container {
  .lte-ie8 & {
    max-width: pxToRem(1170);
  }
}

#main-container {
  padding-bottom: pxToRem(30);
}

.row {
  .lte-ie8 & {
    display: block;
    margin-right: pxToRem(-15);
    margin-left: pxToRem(-15);
    clear: both;
  }

  .lte-ie7 & {
    margin-right: 0;
    margin-left: 0;
  }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  .lte-ie8 & {
    float: left;
    position: relative;
    min-height: pxToRem(1);
    padding-right: pxToRem(15);
    padding-left: pxToRem(15);
  }

  .lte-ie7 & {
    padding-right: 0;
    padding-left: 0;
  }
}

.col-md-12 {
  .lte-ie8 & {
    width: 100%;
  }
}

.col-md-11 {
  .lte-ie8 & {
    width: 91.66666667%;
  }
}

.col-md-10 {
  .lte-ie8 & {
    width: 83.33333333%;
  }
}

.col-md-9 {
  .lte-ie8 & {
    width: 75%;
  }
}

.col-md-8 {
  .lte-ie8 & {
    width: 66.66666667%;
  }
}

.col-md-7 {
  .lte-ie8 & {
    width: 58.33333333%;
  }
}

.col-md-6 {
  .lte-ie8 & {
    width: 50%;
  }
}

.col-md-5 {
  .lte-ie8 & {
    width: 41.66666667%;
  }
}

.col-md-4 {
  .lte-ie8 & {
    width: 33.33333333%;
  }
}

.col-md-3 {
  .lte-ie8 & {
    width: 25%;
  }
}

.col-md-2 {
  .lte-ie8 & {
    width: 16.66666667%;
  }
}

.col-md-1 {
  .lte-ie8 & {
    width: 8.33333333%;
  }
}
