@import "pxToRem";

.form-collaborator {
  .well {
    display: none;

    .no-js & {
      display: block;
    }
  }
  .btn-add-collaborator {
    .no-js & {
      display: none;
    }
  }

  &.show-form {
    .btn-add-collaborator {
      display: none;
    }

    .well {
      display: block;
    }
  }
}

.admin-search-collaborators-form {
  .admin-search-collaborators-query {
    padding-left: 0;
  }

  input.form-control#admin-search-collaborators-query {
    display: block;
  }
}

.js-admin-search-collaborators-error-box {
  margin-bottom: pxToRem(10);
}

.js-admin-search-collaborators-results-box {
  margin-bottom: pxToRem(20);
}

.cant_add_to_collaborators_message {
  color: #a94442;
}

.admin-user-debounce-api-check-block {
  padding-left: pxToRem(25);
  font-size: pxToRem(14);

  .heading-message {
    margin-bottom: pxToRem(5);
    display: inline-block;
  }

  img {
    width: pxToRem(20);
    height: pxToRem(20);
    margin-right: pxToRem(10);
  }

  .next-run-info {
    margin-top: pxToRem(7);
    display: inline-block;
  }

  a {
    margin-top: pxToRem(7);
  }
}
