.settings-page {
  .panel-body ul {
    margin: 0;
    padding-left: 1.25em;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .panel-section {
    padding: 15px 0;
    border-bottom: 1px solid $grey;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .form-value {
    display: inline-block;
    width: 39em;

    @include screen-sm-max {
      display: inline;
      width: auto;
      margin-right: 10px;
    }
  }

  .date-time-text {
    padding-right: 1em;
  }

  .edit-deadline {
    margin-right: 10px;
    color: $blue-link-colour;
    text-decoration: underline;
  }

  .email-notification-help {
    margin-left: 10px;
  }

  .deadline-help, .email-notification-help {
    font-style: italic;
    display: inline-block;
    position: relative;

    .help-message {
      position: absolute;
      top: -13px;
      left: 0;
      width: 15px;
      height: 15px;
      display: inline-block;

      &:hover .help-message-text {
        visibility: visible;
      }

      .help-message-text {
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
        visibility: hidden;
        background-color: #fff;
        text-align: center;
        padding: 5px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 6px;
      }
    }
  }

  .btn-add-schedule {
    margin: 20px 0;
  }

  .link-email-example {
    text-decoration: underline;
    color: $blue-link-colour;
  }

  .well {
    display: block;
    max-width: 440px;
    margin: 20px 0;
    background-color: $white-true;
    box-shadow: none;

    @include screen-sm-max {
      max-width: none;
    }

    &.email-example {
      max-width: none;
      a {
        text-decoration: underline;
        overflow-wrap: break-word;
      }
    }

    h3 {
      margin-top: 0;
    }

    .control-date,
    .control-action {
      float: left;

      @include screen-sm-max {
        float: none;
      }
    }

    .control-date {
      margin-right: 20px;

      @include screen-sm-max {
        margin-right: 0;
      }

      .form-group {
        margin-bottom: 0;
      }
    }

    .control-hint {
      margin-bottom: 10px;
      display: inline-block;
    }

    .control-action {
      position: relative;
      margin-top: 1.7em;
    }

    .btn {
      @include screen-sm-max {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }

      &:first-child {
        margin-right: 10px;

        @include screen-sm-max {
          margin-right: 0;
        }
      }
    }

    .btn-submit {
      @include screen-sm-max {
        margin-bottom: 45px;
      }
    }

    .btn-cancel {
      @include screen-sm-max {
        position: absolute;
        top: 45px;
      }
    }
  }

  .field-with-errors {
    clear: both;
    display: block;
    margin: 0;
    margin-bottom: 0.2em;
    padding: 0;
    background: transparent;
    border: none;
    color: $error-colour;
  }

  .actions {
    a {
      color: $blue-link-colour;
    }
    .button_to {
      display: inline;

      input[type="submit"] {
        text-align: center;
        color: $blue-link-colour;
        background: none;
        padding: 0;
        border: none;

        .lte-ie7 & {
          font-size: 16px;
        }
      }
    }
  }

  .deadline-form-wrapper {
    @media (min-width: 768px) {
      &:after {
        clear: both;
        content: " ";
        display: table;
        zoom: 1;
      }

      .govuk-form-group {
        float: left;
      }

      .control-action {
        float: right !important;
        margin-top: 0 !important;
      }
    }
  }
}
