.form-collaborator {
  .well {
    display: none;

    .no-js & {
      display: block;
    }
  }
  .btn-add-collaborator {
    .no-js & {
      display: none;
    }
  }

  &.show-form {
    .btn-add-collaborator {
      display: none;
    }

    .well {
      display: block;
    }
  }
}

.admin-search-collaborators-form {
  .admin-search-collaborators-query {
    padding-left: 0;
  }

  input.form-control#admin-search-collaborators-query {
    display: block;
  }
}

.js-admin-search-collaborators-error-box {
  margin-bottom: 10px;
}

.js-admin-search-collaborators-results-box {
  margin-bottom: 20px;
}

.cant_add_to_collaborators_message {
  color: #a94442;
}
