.form-collaborator {
  .well {
    display: none;

    .no-js & {
      display: block;
    }
  }
  .btn-add-collaborator {
    .no-js & {
      display: none;
    }
  }

  &.show-form {
    .btn-add-collaborator {
      display: none;
    }

    .well {
      display: block;
    }
  }
}
