@import "mixins";
@import "pxToRem";

.panel-subtitle-small {
  margin-bottom: pxToRem(5);
}

.applications-filter {
  margin-bottom: pxToRem(20);

  .applications-filter__label, .search-input__label {
    display: block;
    text-transform: uppercase;
    padding-right: pxToRem(10);
    padding-top: pxToRem(7);

    @include screen-md-max {
      text-align: left;
    }

    @include screen-sm-max {
      min-width: 0;
      padding-right: pxToRem(20);
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: pxToRem(28);
    width: 100%;
    vertical-align: bottom;

    .dropdown-toggle {
      text-align: left;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      line-height: pxToRem(19);
    }

    .caret-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      padding-right: pxToRem(10);
      padding-left: pxToRem(10);
      border-left: pxToRem(1) solid #262626;
      background: #1c1c1b;

      .caret {
        margin-top: 0.7em;
        color: #fff;
      }
    }

    .dropdown-menu {
      min-width: pxToRem(250);
      border-color: #666666;

      li.checkbox,
      li.apply {
        padding: 0 pxToRem(10);
      }
    }
  }
}

.search-text {
  margin-bottom: pxToRem(30);
  padding: pxToRem(10) pxToRem(15);
  background-color: $grey-lighter;
  font-size: pxToRem(18);
  font-style: italic;

  p {
    margin-bottom: 0;
  }

  a {
    font-style: normal;
  }
}

.applications-table,
.admin-table {
  > tbody > tr > td {
    padding-top: pxToRem(13);
    padding-bottom: pxToRem(12);
    a:not(.link-edit-user) {
      color: $blue-link-colour;
    }
  }

  td,
  th {
    vertical-align: top;
  }

  > tbody > tr:first-child > td {
    padding-top: pxToRem(16);
  }
}

.applications-table, .assessor-table {
  .urn-not-generated {
    color: $grey-dark;
    font-style: italic;
  }

  .icon-unflagged {
    display: none;
  }

  > thead > tr > th {
    border-top: none;
  }

  td > a {
    color: $blue-link-colour;
  }

}

.nav-tabs.submitted-tabs {
  margin-bottom: pxToRem(20);
  border-bottom: none;
  font-size: pxToRem(11);

  .no-js & {
    display: none;
  }

  > li {
    > a {
      margin: 0;
      margin-left: pxToRem(5);

      &,
      &:focus {
        padding: pxToRem(3) pxToRem(10);
        border: pxToRem(2) solid $grey-tab;
        border-radius: pxToRem(100);
        color: $grey-tab;
      }

      &:hover {
        border: pxToRem(2) solid $grey-tab-hover;
        background: transparent;
        color: $grey-tab-hover;
      }
    }

    .active-arrow {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: pxToRem(8);
      height: pxToRem(4);
      margin-bottom: pxToRem(-6);
      margin-left: pxToRem(-4);
      background-image: image-url("icon-arrow-tab.png");
      background-size: pxToRem(8) pxToRem(4);

      @include is-retina {
        background-image: image-url("icon-arrow-tab@2.png");
      }
    }
  }

  > .active {
    > a {
      &,
      &:hover,
      &:focus {
        border: pxToRem(2) solid #666;
        color: #666;
      }
    }

    .active-arrow {
      display: block;
    }
  }
}

.no-js .tab-content > .tab-pane {
  display: block;
  margin-bottom: pxToRem(30);
  visibility: visible;

  &:last-child {
    margin-bottom: 0;
  }
}

.tab-header {
  display: none;
  margin-bottom: pxToRem(15);

  .no-js & {
    display: block;
  }
}

.label-small {
  display: block;
  font-size: pxToRem(14);
  text-align: left;
}

.good-services-list li {
  margin-bottom: pxToRem(20);

  &:last-child {
    margin-bottom: 0;
  }
}

.js-hint-visible-on-edit {
  display: none;
  color: gray;
  font-style: italic;
  font-size: pxToRem(14);
  margin-bottom: pxToRem(10);
}

.inline-form-view {
  margin-top: pxToRem(15);

  .form-control {
    margin-bottom: pxToRem(5);
  }

  .form-group .row {
    margin-bottom: pxToRem(10);
  }

  .no-js & {
    .form-value,
    .form-edit-link {
      display: none;
    }

    .form-value-show {
      display: block;
    }
  }

  .js & {
    .form-group:last-child {
      margin-bottom: 0;
    }

    .control-label {
      display: block;
      font-size: pxToRem(14);
      text-align: left;
    }

    .form-control,
    .form-fields,
    .char-count {
      display: none;
      min-width: pxToRem(100);
    }

    .form-control-day,
    .form-control-month,
    .form-control-year {
      margin-right: pxToRem(10);
      float: left;

      .form-control {
        width: pxToRem(50);
        text-align: center;
      }
    }

    .form-control-day,
    .form-control-month {
      .form-control {
        min-width: pxToRem(50);
      }
    }

    .form-control-year {
      .form-control {
        min-width: pxToRem(70);
      }
    }

    .form-cancel-link,
    .form-save-button,
    .form-save-link {
      display: none;
      float: none;
    }

    .form-edit {
      border-bottom: none;

      .form-fields,
      .form-control,
      .form-save-button,
      .form-save-link,
      .form-cancel-link {
        display: inline-block;
      }

      .form-block,
      .char-count,
      .js-hint-visible-on-edit {
        display: block;
      }

      .form-value,
      .form-edit-link {
        display: none;
      }
    }
  }
}

.form-container {
  padding: pxToRem(10);
  background: $grey-lighter;

  .char-count.char-max-shift {
    margin-top: 0;
  }
}

.form-group-multiple-parent {
  margin-bottom: pxToRem(15);

  &:last-child {
    margin-bottom: 0;
  }
}

.section-appraisal-form .form-label {
  font-weight: bold;
}

.section-financial-summary .form-group {
  border-bottom: none;

  &:last-child {
    margin-bottom: 0;
  }

  .table {
    margin-bottom: 0;
  }
}

.section-financial-summary .form-actions {
  margin: 0 0 1em 0;
}

.form-edit-link {
  margin-top: pxToRem(10);
  color: $black;
  font-size: pxToRem(16);

  .glyphicon {
    margin-right: pxToRem(5);
    font-size: pxToRem(12);
  }
}

.show-sidebar {
  .form-save-button,
  .form-save-link {
    margin-top: pxToRem(10);
  }

  ul.other-applications-list {
    li {
      margin-bottom: pxToRem(20);
    }
  }
}

.section-applicant-details {
  &.well {
    padding-bottom: 0;
    border-bottom: none;
  }

  h2 {
    margin-top: 0;
    margin-bottom: pxToRem(10);
    font-size: pxToRem(24);
    font-weight: normal;
    text-transform: none;
  }

  p {
    font-size: pxToRem(18);

    @include screen-md-max {
      font-size: pxToRem(16);
    }
  }

  .btn {
    margin-top: pxToRem(20);
  }
}

.section-applicant-status {

  h2,
  p {
    margin-bottom: pxToRem(5);
  }

  p {
    font-size: pxToRem(15);

    &.p-lg {
      font-size: pxToRem(20);
    }
  }

  .btn-group {
    display: block;
    margin-bottom: pxToRem(5);
  }

  .dropdown-toggle {
    display: inline-block;
    padding: 0;
    padding-right: pxToRem(20);
    float: none;
    color: $black;
    font-size: pxToRem(20);
    text-align: left;
    text-decoration: none;
    background-image: image-url("icon-arrow-admin-dropdown-down.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: pxToRem(12) pxToRem(9);

    @include is-retina {
      background-image: image-url("icon-arrow-admin-dropdown-down@2.png");
    }
  }

  .open .dropdown-toggle {
    background-image: image-url("icon-arrow-admin-dropdown-up.png");

    @include is-retina {
      background-image: image-url("icon-arrow-admin-dropdown-up@2.png");
    }
  }

  .state-container {
    display: flex;
    justify-content: space-between;

    h2 {
      margin-top: 0.35rem;

      @include screen-lg-max {
        position: static;
      }
    }

    .state-input {
      text-align: right;

      @include screen-lg-max {
        text-align: left;
      }
    }

    .dropdown-menu.pull-right {
      @include screen-lg-max {
        right: auto;
      }
    }
  }
}

.section-applicant-users {
  &,
  .list-actions {
    position: relative;
    zoom: 1;
  }

  li {
    position: relative;
    margin-bottom: pxToRem(20);
    clear: both;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    display: block;
    font-size: pxToRem(14);
    font-weight: bold;
    text-transform: uppercase;
  }

  select {
    width: 100%;
    max-width: 100%;
  }

  .form-fields {
    width: 100%;

    @include screen-md-max {
      width: auto;
      margin-left: pxToRem(120);
    }
  }

  .js & {
    .form-edit form .form-fields {
      @include screen-md-max {
        display: block;
      }
    }
  }

  .form-edit-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    font-size: pxToRem(14);

    .lte-ie7 & {
      margin-top: pxToRem(-20);
    }
  }

  .form-save-button {
    margin-bottom: pxToRem(10);
    float: right;
    clear: both;
  }

  .no-js & {
    .lead-assessor {
      display: inline;
    }
  }
  
  .alert ~ form > .form-edit-link {
    top: pxToRem(40);
  }
}

.centered {
  padding-left: pxToRem(25);
}

.audit-cert-no-change-val,
.audit-cert-changed-val,
.audit-cert-no-change .audit-cert-nil-val,
.audit-cert-changes-made .audit-cert-nil-val {
  display: none;
}

.audit-cert-no-change .audit-cert-no-change-val {
  display: block;
}

.audit-cert-changes-made .audit-cert-changed-val {
  display: block;
}

.audit-cert-description {
  .audit-cert-changes-made & {
    display: block;
  }
}

.form-group .list-attendees li .row {
  margin-bottom: pxToRem(20);
}

.bulk-assign-assessors-link {
  position: relative;
  left: pxToRem(-9999);
  margin-top: pxToRem(10);
  background-color: $blue-link-colour;
  color: white;

  &.show-button {
    left: 0;
  }

  &:hover {
    color: #fff;
    background-color: $govuk-light-blue;
    border-color: #204d74
  }

  .show-bulk-assign & {
    .js & {
      display: none;
    }
  }
}

.bulk-assign-assessors-form {
  max-width: pxToRem(755);
  margin-top: pxToRem(25);
  margin-bottom: pxToRem(10);

  .js & {
    display: none;
  }

  .show-bulk-assign & {
    .js & {
      display: block;
    }
  }

  h2 {
    font-size: pxToRem(18);
    font-weight: bold;
    line-height: 1.5;
  }

  h3 {
    margin-top: 0;
  }

  label {
    font-weight: bold;
  }

  .btn {
    margin-left: pxToRem(10);
  }

  .well {
    margin-bottom: 0;
  }
}

.js .js-attachment-form {
  display: none;
}
.js.lte-ie7 .js-attachment-form {
  display: block;
}

.show-attachment-form {
  .attachment-link {
    display: none;
  }

  .js-attachment-form {
    display: block;
  }
}

.js-attachment-form {
  position: relative;
  zoom: 1;

  .form-group {
    margin-top: pxToRem(15);

    .form-control {
      display: block;
    }
  }
  .btn-cancel { float: left; margin-right: 0 }
}

.sidebar-section.no-margin-bottom { margin-bottom: 0; }

.uploaded-file .btn-attachment {
  display: none;
}

.form_answer_attachment {
  .lte-ie8 & {
    clear:both;
  }
}

.js-remove-audit-certificate-link span {
  margin-top: 0;
}
