.form-collaborator {
  .well {
    display: none;

    .no-js & {
      display: block;
    }
  }
  .btn-add-collaborator {
    .no-js & {
      display: none;
    }
  }

  &.show-form {
    .btn-add-collaborator {
      display: none;
    }

    .well {
      display: block;
    }
  }
}

.admin-search-collaborators-form {
  .admin-search-collaborators-query {
    padding-left: 0;
  }

  input.form-control#admin-search-collaborators-query {
    display: block;
  }
}

.js-admin-search-collaborators-error-box {
  margin-bottom: 10px;
}

.js-admin-search-collaborators-results-box {
  margin-bottom: 20px;
}

.cant_add_to_collaborators_message {
  color: #a94442;
}

.admin-user-debounce-api-check-block {
  padding-left: 25px;
  font-size: 14px;

  .heading-message {
    margin-bottom: 5px; 
    display: inline-block;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .next-run-info {
    margin-top: 7px;
    display: inline-block;
  }

  a {
    margin-top: 7px;
  }
}