.dashboard {

}

.download-link {
  display: inline-block;
  padding-left: 1.75em;
  position: relative;
  font-weight: bold;

  &:before {
    content: " ";
    display: block;
    width: 18px;
    height: 16px;
    background-image: image-url("icon_download.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    position: absolute;
    left: 0;
    top: 2px;
  }
}

.dashboard__header {
  padding: 1.5em 0 2.5em;
  position: relative;

  .award-year-container {
    .award-year-label {
      text-transform: none !important;
      display: block;
      margin-bottom: 10px;
      position: static;
      font-weight: normal;
      margin-top: 0;
      font-size: 18px;
    }

    .award-year-dropdown {
      margin: 0 !important;
    }
  }

  .download-link {
    margin-top: 2em;

    @media (min-width: 992px) {
      margin-top: 0;
      position: absolute !important;
      top: 1.5em;
      right: 0;
    }
  }
}

.downloads-page {
  .download-list {
    margin: 1em 0 4em;
    padding: 0;
    list-style-type: none;

    li {
      padding: 1.2em 0 1.2em 1.5em;
      position: relative;
      border-bottom: 1px solid #ccc;

      &:before {
        content: " ";
        display: block;
        width: 11px;
        height: 20px;
        background-image: image-url("icon_file.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;

        position: absolute;
        left: 0;
        top: 1.4em;
      }

      .download-link {
        display: inline-block;
        margin-top: 1.5em;

        @media (min-width: 992px) {
          margin-top: 0;
          position: absolute;
          top: 1.2em;
          right: 0;
        }
      }
    }
  }
}
