.settings-page {
  ul {
    padding-left: 1.25em;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .panel-section {
    padding: 15px 0;
    border-bottom: 1px solid $grey;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .form-value,
  .deadline-form,
  .notification-edit-form {
    display: inline-block;
    width: 35em;

    @include screen-xs-max {
      display: inline;
      margin-right: 10px;
    }
  }

  .btn-add-schedule {
    margin: 20px 0;
  }

  .link-email-example {
    text-decoration: underline;
  }

  .well {
    max-width: 430px;
    margin: 20px 0;
    background-color: $white-true;
    box-shadow: none;

    @include screen-sm-max {
      max-width: none;
    }

    h3 {
      margin-top: 0;
    }

    .control-date {
      padding-right: 40px;
      background-image: image-url("icon-date-picker.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 31px 30px;

      @include is-retina {
        background-image: image-url("icon-date-picker@2.png");
      }

      @include screen-sm-max {
        padding-right: 55px;
      }

      .form-group {
        margin-bottom: 0;
      }
    }

    .control-action {
      margin-top: 1.7em;
    }
  }

  .field-with-errors {
    clear: both;
    display: block;
    margin: 0;
    margin-bottom: 0.2em;
    padding: 0;
    background: transparent;
    border: none;
    color: $error-colour;
  }

  .actions {
    .button_to {
      display: inline;

      input[type="submit"] {
        text-align: center;
        color: #337ab7;
        background: none;
        padding: 0;
        border: none;
      }
    }
  }
}
