@import "pxToRem";

.email-send-to,
.email-send-subject {
  h3 {
    margin-top: 0.1em;
  }
}

.email-send-to {
  margin-top: pxToRem(40);
}

.email-send-subject {
  margin-top: pxToRem(20);
}

.email-send-to-help {
  margin-top: 0;
}

.help-qae-opt-in,
.help-bis-opt-in,
.help-all-users {
  display: none;
}

.show-qae-opt-in .help-qae-opt-in,
.show-bis-opt-in .help-bis-opt-in,
.show-all-users .help-all-users {
  display: inline;
}
