@import "mixins";

.applications-table {
  .status-label {
    width: 15px;
    padding: 0;

    &.pending-label {
      background-color: #5178bc;
    }

    &.shortlisted-label {
      background-color: #87c764;
    }

    &.withdrawn-label {
      background-color: #6c6d70;
    }
  }

  .urn-not-generated {
    color: #999;
    font-style: italic;
  }

  .icon-unflagged {
    display: none;
  }
}

.application-progress {
  padding: 15px 15px;
  padding-left: 50px;
  color: #fff;
  background: #5178bc;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-image: image-url("icon-application-progress.png");
  background-size: 30px 30px;

  @include is-retina {
    background-image: image-url("icon-application-progress@2.png");
  }
}

.applicant-view,
.submitted-view {
  margin-top: 20px;
}

.js .submitted-view {
  .form-group {
    padding-bottom: 10px;
    border-bottom: 1px solid #999;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .form-control {
    display: none;
  }

  .form-edit {
    border-bottom: none;

    .form-control {
      display: block;
    }

    .form-value,
    .form-edit-link {
      display: none;
    }
  }
}

#financial-summary .form-group {
  margin-bottom: 30px;
  border-bottom: none;

  &:last-child {
    margin-bottom: 0;
  }

  table.table {
    margin-bottom: 0;
  }
}

.form-edit-link {
  font-size: 13px;

  .glyphicon {
    font-size: 10px;
    margin-right: 5px;
  }
}
