@import "mixins";

.panel-subtitle-small {
  margin-bottom: 5px;
}

.applications-filter {
  margin-bottom: 20px;

  .applications-filter__label {
    display: block;
    text-transform: uppercase;
    padding-right: 10px;
    padding-top: 7px;

    @include screen-md-max {
      text-align: left;
    }

    @include screen-sm-max {
      min-width: 0;
      padding-right: 20px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 28px;
    width: 100%;
    vertical-align: bottom;

    .dropdown-toggle {
      text-align: left;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      line-height: 19px;
    }

    .caret-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      padding-right: 10px;
      padding-left: 10px;
      border-left: 1px solid #262626;
      background: #1c1c1b;

      .caret {
        margin-top: 0.7em;
        color: #fff;
      }
    }

    .dropdown-menu {
      min-width: 250px;
      li.checkbox,
      li.apply {
        padding: 0 10px;
      }
    }
  }
}

.search-text {
  margin-bottom: 30px;
  padding: 10px 15px;
  background-color: $grey-lighter;
  font-size: 18px;
  font-style: italic;

  p {
    margin-bottom: 0;
  }

  a {
    font-style: normal;
  }
}

.applications-table,
.admin-table {
  > tbody > tr > td {
    padding-top: 13px;
    padding-bottom: 12px;
    a:not(.link-edit-user) {
      color: $blue-link-colour;
    }
  }

  td,
  th {
    vertical-align: top;
  }

  > tbody > tr:first-child > td {
    padding-top: 16px;
  }
}

.applications-table, .assessor-table {
  .urn-not-generated {
    color: $grey-dark;
    font-style: italic;
  }

  .icon-unflagged {
    display: none;
  }

  > thead > tr > th {
    border-top: none;
  }

  td > a {
    color: $blue-link-colour;
  }

}

.nav-tabs.submitted-tabs {
  margin-bottom: 20px;
  border-bottom: none;
  font-size: 11px;

  .no-js & {
    display: none;
  }

  > li {
    > a {
      margin: 0;
      margin-left: 5px;

      &,
      &:focus {
        padding: 3px 10px;
        border: 2px solid $grey-tab;
        border-radius: 100px;
        color: $grey-tab;
      }

      &:hover {
        border: 2px solid $grey-tab-hover;
        background: transparent;
        color: $grey-tab-hover;
      }
    }

    .active-arrow {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 8px;
      height: 4px;
      margin-bottom: -6px;
      margin-left: -4px;
      background-image: image-url("icon-arrow-tab.png");
      background-size: 8px 4px;

      @include is-retina {
        background-image: image-url("icon-arrow-tab@2.png");
      }
    }
  }

  > .active {
    > a {
      &,
      &:hover,
      &:focus {
        border: 2px solid #666;
        color: #666;
      }
    }

    .active-arrow {
      display: block;
    }
  }
}

.no-js .tab-content > .tab-pane {
  display: block;
  margin-bottom: 30px;
  visibility: visible;

  &:last-child {
    margin-bottom: 0;
  }
}

.tab-header {
  display: none;
  margin-bottom: 15px;

  .no-js & {
    display: block;
  }
}

.label-small {
  display: block;
  font-size: 14px;
  text-align: left;
}

.good-services-list li {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.js-hint-visible-on-edit {
  display: none;
  color: gray;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.inline-form-view {
  margin-top: 15px;

  .form-control {
    margin-bottom: 5px;
  }

  .form-group .row {
    margin-bottom: 10px;
  }

  .no-js & {
    .form-value,
    .form-edit-link {
      display: none;
    }

    .form-value-show {
      display: block;
    }
  }

  .js & {
    .form-group:last-child {
      margin-bottom: 0;
    }

    .control-label {
      display: block;
      font-size: 14px;
      text-align: left;
    }

    .form-control,
    .form-fields,
    .char-count {
      display: none;
      min-width: 100px;
    }

    .form-control-day,
    .form-control-month,
    .form-control-year {
      margin-right: 10px;
      float: left;

      .form-control {
        width: 50px;
        text-align: center;
      }
    }

    .form-control-day,
    .form-control-month {
      .form-control {
        min-width: 50px;
      }
    }

    .form-control-year {
      .form-control {
        min-width: 70px;
      }
    }

    .form-cancel-link,
    .form-save-button,
    .form-save-link {
      display: none;
      float: none;
    }

    .form-edit {
      border-bottom: none;

      .form-fields,
      .form-control,
      .form-save-button,
      .form-save-link,
      .form-cancel-link {
        display: inline-block;
      }

      .form-block,
      .char-count,
      .js-hint-visible-on-edit {
        display: block;
      }

      .form-value,
      .form-edit-link {
        display: none;
      }
    }
  }
}

.form-container {
  padding: 10px;
  background: $grey-lighter;

  .char-count.char-max-shift {
    margin-top: 0;
  }
}

.form-group-multiple-parent {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-appraisal-form .form-label {
  font-weight: bold;
}

.section-financial-summary .form-group {
  border-bottom: none;

  &:last-child {
    margin-bottom: 0;
  }

  .table {
    margin-bottom: 0;
  }
}

.section-financial-summary .form-actions {
  margin: 0 0 1em 0;
}

.form-edit-link {
  margin-top: 10px;
  color: $black;
  font-size: 16px;

  .glyphicon {
    margin-right: 5px;
    font-size: 12px;
  }
}

.show-sidebar {
  .form-save-button,
  .form-save-link {
    margin-top: 10px;
  }

  ul.other-applications-list {
    li {
      margin-bottom: 20px;
    }
  }
}

.section-applicant-details {
  &.well {
    padding-bottom: 0;
    border-bottom: none;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
  }

  p {
    font-size: 18px;

    @include screen-md-max {
      font-size: 16px;
    }
  }

  .btn {
    margin-top: 20px;
  }
}

.section-applicant-status {

  h2,
  p {
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;

    &.p-lg {
      font-size: 20px;
    }
  }

  .btn-group {
    display: block;
    margin-bottom: 5px;
  }

  .dropdown-toggle {
    display: inline-block;
    padding: 0;
    padding-right: 20px;
    float: none;
    color: $black;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    background-image: image-url("icon-arrow-admin-dropdown-down.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px 9px;

    @include is-retina {
      background-image: image-url("icon-arrow-admin-dropdown-down@2.png");
    }
  }

  .open .dropdown-toggle {
    background-image: image-url("icon-arrow-admin-dropdown-up.png");

    @include is-retina {
      background-image: image-url("icon-arrow-admin-dropdown-up@2.png");
    }
  }

  .state-container {
    position: relative;

    h2 {
      position: absolute;
      top: 0.4em;
      left: 0;

      @include screen-lg-max {
        position: static;
      }
    }

    .state-input {
      text-align: right;

      @include screen-lg-max {
        text-align: left;
      }
    }

    .dropdown-menu.pull-right {
      @include screen-lg-max {
        right: auto;
      }
    }
  }
}

.section-applicant-users {
  &,
  .list-actions {
    position: relative;
    zoom: 1;
  }

  li {
    position: relative;
    margin-bottom: 20px;
    clear: both;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  select {
    width: 100%;
    max-width: 100%;
  }

  .form-fields {
    width: 100%;

    @include screen-md-max {
      width: auto;
      margin-left: 120px;
    }
  }

  .js & {
    .form-edit form .form-fields {
      @include screen-md-max {
        display: block;
      }
    }
  }

  .select2-container {
    width: 100% !important;
  }

  .form-edit-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    font-size: 14px;

    .lte-ie7 & {
      margin-top: -20px;
    }
  }

  .form-save-button {
    margin-bottom: 10px;
    float: right;
    clear: both;
  }

  .no-js & {
    .lead-assessor {
      display: inline;
    }
  }
}

.centered {
  padding-left: 25px;
}

.audit-cert-no-change-val,
.audit-cert-changed-val,
.audit-cert-no-change .audit-cert-nil-val,
.audit-cert-changes-made .audit-cert-nil-val {
  display: none;
}

.audit-cert-no-change .audit-cert-no-change-val {
  display: block;
}

.audit-cert-changes-made .audit-cert-changed-val {
  display: block;
}

.audit-cert-description {
  .audit-cert-changes-made & {
    display: block;
  }
}

.form-group .list-attendees li .row {
  margin-bottom: 20px;
}

.bulk-assign-assessors-link {
  position: relative;
  left: -9999px;
  margin-top: 10px;
  background-color: $blue-link-colour;
  color: white;

  &.show-button {
    left: 0;
  }

  .show-bulk-assign & {
    .js & {
      display: none;
    }
  }
}

.bulk-assign-assessors-form {
  max-width: 755px;
  margin-top: 25px;
  margin-bottom: 10px;

  .js & {
    display: none;
  }

  .show-bulk-assign & {
    .js & {
      display: block;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
  }

  h3 {
    margin-top: 0;
  }

  label {
    font-weight: bold;
  }

  .btn {
    margin-left: 10px;
  }

  .select2-container {
    width: 100% !important;
  }

  .well {
    margin-bottom: 0;
  }
}

.js .js-attachment-form {
  display: none;
}
.js.lte-ie7 .js-attachment-form {
  display: block;
}

.show-attachment-form {
  .attachment-link {
    display: none;
  }

  .js-attachment-form {
    display: block;
  }
}

.js-attachment-form {
  position: relative;
  zoom: 1;

  .form-group {
    margin-top: 15px;

    .form-control {
      display: block;
    }
  }
  .btn-cancel { float: left; margin-right: 0 }
}

.sidebar-section.no-margin-bottom { margin-bottom: 0; }

.uploaded-file .btn-attachment {
  display: none;
}

.form_answer_attachment {
  .lte-ie8 & {
    clear:both;
  }
}

.js-remove-audit-certificate-link span {
  margin-top: 0;
}
