div.time-picker {
  position: absolute;
  height: 191px;
  width: 4em;
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.time-picker li {
  cursor: pointer;
  height: 25px;
  padding: 2px;
}

div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}

input.timepicker {
  width: 50px;
}
