default: &default
  adapter: postgresql
  encoding: utf8

development:
  <<: *default
  database: qae_development

test:
  <<: *default
  database: qae_test

production:
  <<: *default
  url: <%= PaasResolver.pgsql_uri %>
