= "Dear #{@user.decorate.full_name},"

| We're emailing to remind you that applications for the Awards round for the Queen's Awards for Enterprise
=<> AwardYear.current.year
| are now open.

| If you would like to enter, please
=<> link_to "log in", new_user_session_url
| to your Queen's Awards account to start an application.

' Kind regards,

' The Queen’s Awards Office
