= "Dear #{@user.decorate.full_name},"

| We're emailing to remind you that applications for the new Award year are open.

' Please
=> link_to "log in", new_user_session_url
' to your Queen’s Award account to access it.

' Kind regards,

' The Queen’s Awards Office
