// Styling for forms that exist outside of smart-answers
// Adapted from https://www.gov.uk/jobsearch 18 Nov 2014
.qae-form {
  label {
    input {
      display: block;
      background-color: #f9f9f9;
      border: 1px inset #e2e2e2;
      font-size: 1em;
      line-height: 1.2;
      padding: 0.3em 0 0.1em 0.4em;
      margin-left: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: inline;
    }

    .hint {
      color: $grey-1;
      margin-top: 0.5em;
    }
  }

  p.form-submit {
    margin: 1.5em 0 0 0;
  }

  .button {
    @include core-24($line-height: (16 / 24));
    padding: 0.45em 0.5em 0.45em 0.5em;
    display: inline-block;

    /* IE6 adds its own side padding so requires no extra */
    @include ie(6) {
      padding: 0.45em 0.5em 0.62em 0.5em;
    }
  }
}
