// Sub question style
.sub-question h2 {
  @include bold-19;
}

// Error styling
.field_with_errors .error,
.smart_answer article .error {
  @include core-19;
  clear: both;
  display: block;
  margin: 1em 0;
  padding: 0;
  background: transparent;
  border: none;

  .page-devise & {
    @include core-16;
    margin-top: 1.5em;
    margin-bottom: 0.2em;
    margin-left: 207px;
  }
}

.page-devise .boolean .error {
  margin-left: 0;
}

// Expanded the standard input style to include other types
input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"] {
  @media (max-width: 640px) {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
textarea {
  @include core-16($line-height: (20 / 16));
  border: 1px solid #bbb;
  min-width: 8em;
  margin: 0 0.5em;
  padding: 0.25em;

  @include ie-lte(7) {
    width: 8em;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

  // Alternate width sizes for inputs based on
  // https://www.gov.uk/service-manual/user-centred-design/resources/patterns/names
  &.small {
    max-width: 8em;

    @include ie-lte(7) {
      width: 8em;
    }

    @media (max-width: 640px) {
      min-width: 0;
    }
  }

  &.medium {
    min-width: 16em;

    @include ie-lte(7) {
      width: 16em;
    }

    @media (max-width: 640px) {
      min-width: 0;
      max-width: 16em;
    }
  }

  &.large {
    min-width: 24em;

    @include ie-lte(7) {
      width: 24em;
    }

    @media (max-width: 640px) {
      min-width: 0;
      max-width: 24em;
    }
  }

  &.largest {
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  .span-1 &,
  .span-2 &,
  .span-2-4 &,
  .span-3 &,
  .span-4 &,
  .span-5 &,
  .span-6 &,
  .span-7 &,
  .span-8 &,
  .span-9 &,
  .span-10 &,
  .span-11 &,
  .span-12 & {
    @media only screen and (min-width : 801px), only screen and (min-device-height : 768px) and (max-device-height : 1024px) and (orientation : portrait) {
      width: 100%;
      min-width: 0;
      max-width: none;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
  }
}

// Textareas span container width and on resize vertically
textarea {
  width: 100%;
  resize: vertical;
}
// Textarea autoResizer line height to match textareas
.hiddendiv {
  @include core-16($line-height: (20 / 16));
}

// Fix file input vertical alignment
input[type="file"] {
  @include core-16($line-height: (20 / 16));
  line-height: 1;

  @media (max-width: 640px) {
    max-width: 280px;
  }
}

// Don't need to put questions inside a <p> tag
.question-group {
  @include core-19;
  margin: 0.75em 0;
  margin-top: 0.2em;
}

// Styling for forms that exist outside of smart-answers
// Forms that flow downwards with multiple questions
.qae-form {
  .question-group {
    margin-bottom: 1.25em;
  }

  table {
    width: 100%;

    input,
    select,
    textarea {
      margin: 0;
    }
  }

  select {
    @include core-16;
  }

  label {
    &.small {
      @include core-16;
    }

    &.selectable {
      @include core-16;

      &.selectable-confirm {
        @include core-19;
        margin: 0.5em 0 0 0;
        padding: 19px;
        padding-left: 45px;
        background-color: #D5E8F3;
        border-width: solid 1px #CBCBCB;
        border-radius: 4px;

        input[type="checkbox"] {
          @include core-19;
        }
      }
    }
  }

  input,
  select,
  textarea {
    display: block;
    margin: 0.2em 0 0.5em 0;

    &.inline {
      display: inline;
    }
  }

  // Bigger sized inputs based on https://www.gov.uk/service-manual/user-centred-design/resources/patterns/names
  // but adapted from https://www.gov.uk/jobsearch 18 Nov 2014
  input.big {
    font-size: 1em;
    line-height: 1.2;
    padding: 0.3em 0 0.1em 0.4em;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin: 3px 0.5ex;
    margin-right: 1ex;
    padding: initial;
    vertical-align: middle;
  }

  input[type="file"] {
    line-height: 1;
  }

  .span-1 label,
  .span-2 label,
  .span-2-4 label,
  .span-3 label,
  .span-4 label,
  .span-5 label,
  .span-6 label,
  .span-7 label,
  .span-8 label,
  .span-9 label,
  .span-10 label,
  .span-11 label,
  .span-12 label {
    @media only screen and (min-width : 801px), only screen and (min-device-height : 768px) and (max-device-height : 1024px) and (orientation : portrait) {
      display: block;
    }
  }

  .hint {
    color: $grey-1;
    margin-top: 0.5em;
  }

  .question-group + .hidden-hint {
    margin-top: -0.5em;
  }

  .question-group + h2,
  .hidden-hint + h2,
  .hidden-hint + .question-group {
    margin-top: 3em;
  }

  .form-submit {
    margin: 1.5em 0 0 0;
  }
}

// Large buttons
.button {
  &.large {
    @include core-24($line-height: (16 / 24));
    padding: 0.45em 0.5em 0.45em 0.5em;
    display: inline-block;

    /* IE6 adds its own side padding so requires no extra */
    @include ie(6) {
      padding: 0.45em 0.5em 0.62em 0.5em;
    }
  }

  &.button-block {
    display: block;
    text-align: center;
  }
}

// Hidden hints as seen on
// https://www.gov.uk/service-manual/user-centred-design/resources/patterns/help-text
.hidden-hint {
  margin-bottom: 1em;

  &,
  p {
    @include core-16;
    display: block;
  }

  & {
    line-height: 1.4;
  }

  a {
    display: block;
    text-decoration: none;

    &:active,
    &:focus {
      background-color: $yellow;
    }
  }

  .hidden-arrow-right,
  .hidden-arrow-down {
    position: absolute;
    font-size: 0.8em;
  }

  .hidden-arrow-right {
    line-height: 1.8;

    @media (max-width: 640px) {
      line-height: 1.9;
    }

    @include ie-lte(8) {
      font-size: 26px;
      line-height: 0.75;
    }
  }

  .hidden-arrow-down {
    line-height: 1.7;

    @media (max-width: 640px) {
      line-height: 1.9;
    }

    @include ie-lte(8) {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  .hidden-link {
    display: block;
    font-weight: bold;
  }

  a .hidden-link {
    padding-left: 1em;
    text-decoration: underline;
    font-weight: normal;

    @include ie-lte(8) {
      padding-left: 20px;
    }
  }

  .hidden-content {
    display: block;
    margin-bottom: 2em;
  }

  .hidden-arrow-down,
  .hidden-content {
    .js-enabled & {
      display: none;
    }
  }

  &.show-hint {
    .hidden-arrow-right {
      display: none;
    }

    .hidden-arrow-down {
      display: inline;
    }

    .hidden-content {
      display: block;
    }
  }
}

// Character count
.char-count {
  position: relative;
}
.char-text {
  @include core-14($line-height: (20 / 16));
  color: $grey-1;
  text-align: right;

  .char-over & {
    color: $red;
  }
}

// Show/hide conditional questions
.js-conditional-text {
  display: none;
}
.js-enabled .conditional-question {
  display: none;

  &.show-question {
    display: block;
  }

  .no-js-conditional-text {
    display: none;
  }

  .js-conditional-text {
    display: block;
  }
}
.js-enabled span.conditional-question.show-question {
  display: inline;
}

.smart_answer .inner.step.current {
  margin-right: 0;
}

// Styling the add form field list and button
.list-add {
  margin: 0;
  margin-bottom: $gutter;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    margin-bottom: $gutter-half;
    padding: $gutter-half;
    padding-top: 18px;
    background: $grey-4;
  }

  label input {
    margin-bottom: 1em;
  }

  select {
    margin-right: $gutter-one-third;
  }

  .remove-link {
    @include core-16;
    float: right;
  }
}
.button-add {
  @include core-19;
  margin-right: $gutter-half;
  padding: (18px $gutter $gutter-half $gutter);
  border: 1px solid $panel-colour;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  &,
  &:link,
  &:hover,
  &:focus,
  &:visited {
    color: $black;
    background: $panel-colour;
  }

  &:hover {
    border-color: $black;
  }

  &:active {
    top: auto;
    background: $white;
  }

  &:before {
    display: none;
  }
}

// Styles and positions submit button in pagination
.pagination {
  li.previous-alternate {
    a {
      margin-top: $gutter;
      padding: 0;

      &:before {
        display: none;
      }

      &:hover {
        background: none;

        .pagination-label {
          text-decoration: none;
        }
      }

      .pagination-label {
        @include core-16;
        text-decoration: underline;
      }
    }
  }

  li.submit {
    float: right;
    width: 51%;
    margin-top: 1em;
  }

  .button {
    @include button;
    @include core-24($line-height: (16 / 24));
    padding: 0.45em 0.5em 0.45em 0.5em;
    display: inline-block;

    /* IE6 adds its own side padding so requires no extra */
    @include ie(6) {
      padding: 0.45em 0.5em 0.62em 0.5em;
    }
  }
}

// Numbered steps for form sections
// Taken from https://github.com/alphagov/calculators/blob/9181624cc9e00a079bea2141a650321f7183b6d0/app/assets/stylesheets/calculators/child_benefit.scss
.steps {
  float: left;
  width: 23px;
  height: 23px;
  margin: 0;
  margin-right: 0.75em;
  background-repeat: no-repeat;
}

// TODO temp
.steps {
  width: auto;
  min-width: 13px;
  padding: 3px 10px;
  color: white;
  background: black;
  background-repeat: no-repeat;
  border-radius: 1000px;
  text-align: center;
  font-size: 15px;
  line-height: 26px;
}
/*
#step-1 {
  background-image: image-url("icon-step-1.png");
}
#step-2 {
  background-image: image-url("icon-step-2.png");
}
#step-3 {
  background-image: image-url("icon-step-3.png");
}
#step-4 {
  background-image: image-url("icon-step-4.png");
}
#step-4-1 {
  width: 28px;
  background-image: image-url("icon-step-4-1.png");
}
#step-4-2 {
  width: 32px;
  background-image: image-url("icon-step-4-2.png");
}
#step-5 {
  background-image: image-url("icon-step-5.png");
}
#step-6 {
  background-image: image-url("icon-step-6.png");
}
#step-7 {
  background-image: image-url("icon-step-7.png");
}
#step-8 {
  background-image: image-url("icon-step-8.png");
}
#step-9 {
  background-image: image-url("icon-step-9.png");
}
#step-10 {
  width: 24px;
  background-image: image-url("icon-step-10.png");
}
#step-11 {
  background-image: image-url("icon-step-11.png");
}
#step-12 {
  width: 24px;
  background-image: image-url("icon-step-12.png");
}
#step-13 {
  width: 24px;
  background-image: image-url("icon-step-13.png");
}
#step-13-1 {
  width: 33px;
  background-image: image-url("icon-step-13-1.png");
}
#step-14 {
  width: 24px;
  background-image: image-url("icon-step-14.png");
}
#step-15 {
  width: 24px;
  background-image: image-url("icon-step-15.png");
}
#step-15-1 {
  width: 33px;
  background-image: image-url("icon-step-15-1.png");
}
#step-16 {
  width: 24px;
  background-image: image-url("icon-step-16.png");
}
#step-16-1 {
  width: 33px;
  background-image: image-url("icon-step-16-1.png");
}
#step-16-2 {
  width: 37px;
  background-image: image-url("icon-step-16-2.png");
}
#step-17 {
  background-image: image-url("icon-step-17.png");
}
#step-17-1 {
  width: 32px;
  background-image: image-url("icon-step-17-1.png");
}
#step-18 {
  width: 24px;
  background-image: image-url("icon-step-18.png");
}
#step-19 {
  width: 24px;
  background-image: image-url("icon-step-19.png");
}
#step-20 {
  width: 28px;
  background-image: image-url("icon-step-20.png");
}
#step-20-1 {
  width: 37px;
  background-image: image-url("icon-step-20-1.png");
}
#step-20-2 {
  width: 41px;
  background-image: image-url("icon-step-20-2.png");
}
#step-20-3 {
  width: 41px;
  background-image: image-url("icon-step-20-3.png");
}
#step-20-4 {
  width: 41px;
  background-image: image-url("icon-step-20-4.png");
}
#step-20-5 {
  width: 41px;
  background-image: image-url("icon-step-20-5.png");
}
#step-21 {
  width: 24px;
  background-image: image-url("icon-step-21.png");
}
#step-21-1 {
  width: 33px;
  background-image: image-url("icon-step-21-1.png");
}
#step-21-2 {
  width: 37px;
  background-image: image-url("icon-step-21-2.png");
}
#step-21-3 {
  width: 37px;
  background-image: image-url("icon-step-21-3.png");
}
#step-22 {
  width: 28px;
  background-image: image-url("icon-step-22.png");
}
#step-23 {
  width: 28px;
  background-image: image-url("icon-step-23.png");
}
#step-24 {
  width: 28px;
  background-image: image-url("icon-step-24.png");
}
#step-25 {
  width: 28px;
  background-image: image-url("icon-step-25.png");
}
#step-26 {
  width: 28px;
  background-image: image-url("icon-step-26.png");
}
#step-27 {
  width: 27px;
  background-image: image-url("icon-step-27.png");
}
#step-28 {
  width: 28px;
  background-image: image-url("icon-step-28.png");
}
#step-29 {
  width: 28px;
  background-image: image-url("icon-step-29.png");
}
#step-30 {
  width: 28px;
  background-image: image-url("icon-step-30.png");
}
#step-31 {
  width: 24px;
  background-image: image-url("icon-step-31.png");
}
#step-32 {
  width: 28px;
  background-image: image-url("icon-step-32.png");
}
#step-a1 {
  width: 24px;
  background-image: image-url("icon-step-a1.png");
}
#step-a2 {
  width: 28px;
  background-image: image-url("icon-step-a2.png");
}
#step-a3 {
  width: 28px;
  background-image: image-url("icon-step-a3.png");
}
#step-a4 {
  width: 28px;
  background-image: image-url("icon-step-a4.png");
}
#step-a5 {
  width: 28px;
  background-image: image-url("icon-step-a5.png");
}
#step-a6 {
  width: 28px;
  background-image: image-url("icon-step-a6.png");
}
#step-a7 {
  width: 27px;
  background-image: image-url("icon-step-a7.png");
}
*/
