$black-true: #000;

legend {
  margin: 0 !important;

  &.light {
    font-weight: 400;
  }

  h2 {
    margin-bottom: 0 !important;
  }
}

legend.body-font-size {
  @include core-19;
}

.question-block h2,
.regular-question h2 {
  @include core-24;
  margin: 0;
  font-weight: 700;
}

.sub-question h2 {
  margin: 0;
  font-weight: 400;
  @include core-19;
}

.regions-half {
  float: left;
  width: 50%;

  @media (max-width: 640px) {
    width: auto;
    float: none;
  }
}

// Question Context style
.question-context,
.question-context h3,
.question-context h4,
.question-context h5,
.question-context h6 {
  color: $grey-1;

  .application-notice & {
    color: $black;
  }
}

.add-collaborator-box .question-context {
  @include core-19;
}

ul.question-context,
.question-context ul {
  list-style-image: image-url("bullet-disc-5px-grey.gif");
}

.no-js .regular-question h2 {
  margin-bottom: 0.5em;
}

.display-none {
  display: none !important;
}

.page-devise .boolean .error {
  margin-left: 0;
}

// Fix boolean inputs
.boolean {
  &.input,
  &.selectable-group {
    position: relative;
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.field-with-errors .checkbox {
    left: $gutter-two-thirds;
  }

  &.selectable-group {
    .selectable {
      padding-left: 40px;
    }

    .checkbox {
      top: 15px;
      left: 15px;
    }
  }
}

h2 > .boolean.control-label {
  padding-left: 0;
}

.input:after {
  display: block;
  height: 0;
  clear: both;
  content: "\0020";
  overflow: hidden;
}


.fileinput-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  font-size: 200px !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
  direction: ltr;
}

.upload-focus {
  background-color: #FFDC03;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  display: inline-block;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  margin-right: 15px;
  -webkit-box-shadow: 0 2px 0 #002d18;
  cursor: pointer;
  -webkit-appearance: none;
  color: black;
}

.custom-select:disabled,
.custom-select[readonly] {
  background-color: #ccc;
  color: black;
}

.autocomplete__wrapper {
  max-width: 24.5em;
  // max-width: 100%;

  input {
    margin: 0 !important;
    padding-right: 2em !important;
  }

  li {
    min-height: 25px !important;
    margin: 0 !important;
  }

  .autocomplete__arrow {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBvbHlsaW5lIGZpbGw9Im5vbmUiIHBvaW50cz0iMjEsOC41IDEyLDE3LjUgMyw4LjUgIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 0.5em;

    @media (max-width: 640px) {
      top: 8px;
    }
  }
}

.js-uploaded-list,
.js-file-uploaded,
.js-file-uploaded > div,
.char-count,
textarea {
  .lte-ie7 & {
    position: relative;
    zoom: 100%;
  }
}

.qae-form {
  &,
  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    .date-input {
      margin-bottom: 1em;

      .date-input-field {
        display: inline-block;
        margin-right: 0.75em;
        vertical-align: top;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .date-input {
    white-space: nowrap;

    input[type="text"] {
      min-width: 0 !important;
      max-width: none !important;
    }

    input[type="text"].tiny {
      width: 2.7em !important;
    }

    input[type="text"].small {
      width: 4em !important;
    }
  }

  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    .date-input {
      input[type="text"].tiny {
        width: 3.5em !important;
      }

      input[type="text"].small {
        width: 4em !important;
      }
    }
  }
}

// Textareas span container width and on resize vertically
textarea {
  width: 100%;
  resize: vertical;
}

// Fix file input vertical alignment
input[type="file"] {
  @include core-16($line-height: (20 / 16));
  line-height: 1;

  @media (max-width: 640px) {
    max-width: 280px;
  }
}

// Don't need to put questions inside a <p> tag
.question-group {
  @include core-19;
  margin: 0.75em 0;
  margin-top: 0.2em;
}

.selectable label {
  @include core-19;
}

.selectable-confirm-wrapper {
  padding: 1em;
  border-radius: 5px;
  background-color: #D5E8F3;
  border: 1px solid  #CBCBCB;

  &:after {
    content: " ";
    display: table;
    clear: both;
    zoom: 1;
  }
}

.question-block h2 {
  margin-bottom: 0.6em;

  em {
    font-style: normal;
    text-decoration: underline;
  }
}

// Styling for forms that exist outside of smart-answers
// Forms that flow downwards with multiple questions
.qae-form {
  .question-group {
    margin-bottom: 1.25em;
  }

  table {
    width: 100%;

    input,
    select,
    textarea {
      margin: 0;
    }
  }

  select {
    @include core-16;

    @media (max-width: 640px) {
      max-width: 240px;
    }
  }

  label {
    &.small {
      @include core-16;
    }

    &.selectable {
      .lte-ie7 & {
        width: 85%;
      }

      &.selectable-confirm {
        @include core-19;
        margin: 0.5em 0 0 0;
        padding: 19px;
        padding-left: 45px;
        background-color: #D5E8F3;
        border: 1px solid  #CBCBCB;
        border-radius: 4px;

        input[type="checkbox"] {
          @include core-19;
        }
      }
    }

    &.inline {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // Bigger sized inputs based on https://www.gov.uk/service-manual/user-centred-design/resources/patterns/names
  // but adapted from https://www.gov.uk/jobsearch 18 Nov 2014
  input.big {
    font-size: 1em;
    line-height: 1.2;
    padding: 0.3em 0 0.1em 0.4em;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin: 3px 0.5ex;
    margin-right: 1ex;
    padding: initial;
    vertical-align: middle;

    .lte-ie7 & {
      margin: 0;
    }
  }

  input[type="file"] {
    padding-left: 0;
    border: none;
    line-height: 1;
  }

  .span-1 label,
  .span-2 label,
  .span-3 label,
  .span-4 label,
  .span-5 label,
  .span-6 label,
  .span-7 label,
  .span-8 label,
  .span-9 label,
  .span-10 label,
  .span-11 label,
  .span-12 label {
    @media only screen and (min-width : 801px), only screen and (min-device-height : 768px) and (max-device-height : 1024px) and (orientation : portrait) {
      display: block;
    }

    .lte-ie7 {
      display: block;
    }
  }

  .span-financial {
    margin-bottom: $gutter-half;
  }

  .question-group + .hidden-hint {
    margin-top: -0.5em;
  }

  .question-group + h2,
  .hidden-hint + h2,
  .hidden-hint + .question-group {
    margin-top: 3em;
  }

  .form-submit {
    margin: 1.5em 0 0 0;
  }

  // Currency prepended inputs
  .currency-input {
    position: relative;
    display: block;

    .currency-unit {
      position: absolute;
      line-height: 2;

      .lte-ie7 & {
        top: 0;
        left: 0;
      }
    }

    input {
      width: 85%;
      margin-left: 1.15em;
    }
  }
}

// Large buttons
.button {
  &:visited {
    color: $white !important;
  }

  &.button-block {
    display: block;
    text-align: center;
  }
}

// Hidden hints as seen on
// https://www.gov.uk/service-manual/user-centred-design/resources/patterns/help-text
.hidden-hint {
  margin-bottom: 1em;

  &,
  p {
    @include core-19;
    display: block;
  }

  & {
    line-height: 1.4;
  }

  a {
    display: block;
    text-decoration: none;

    &:active,
    &:focus {
      background-color: $yellow;
    }
  }

  .hidden-arrow-right,
  .hidden-arrow-down {
    position: absolute;
    font-size: 0.8em;
    color: $blue-link-colour;
  }

  .hidden-arrow-right {
    line-height: 1.8;

    @media (max-width: 640px) {
      line-height: 1.9;
    }
  }

  .hidden-arrow-down {
    line-height: 1.7;

    @media (max-width: 640px) {
      line-height: 1.9;
    }
  }

  .hidden-link {
    display: block;
    font-weight: bold;
  }

  a .hidden-link {
    padding-left: 1em;
    text-decoration: underline;
    font-weight: normal;
  }

  .hidden-content {
    display: block;
    margin-bottom: 2em;
  }

  .hidden-arrow-down,
  .hidden-content {
    .js-enabled & {
      display: none;
    }
  }

  &.show-hint {
    .hidden-arrow-right {
      display: none;
    }

    .hidden-arrow-down {
      display: inline;
    }

    .hidden-content {
      display: block;
    }
  }
}

// Character count
.char-count-label .label-char-count-reposition {
  display: block;
  margin-bottom: -1.8em;
}

.char-space {
  display: inline-block;
  width: 160px;
  height: 1em;
}

.char-count {
  position: relative;

  &.char-max-shift {
    margin-top: -1.7em;
  }
}

.char-text-limit {
  @include core-19($line-height: (20 / 16));
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  text-align: right;
}
.char-text {
  @include core-16($line-height: (20 / 16));
  margin-top: 0.2em;
  color: $grey-1;
  text-align: right;

  .list-add & {
    color: darken($grey-1, 10%);
  }

  .char-over & {
    color: $error-colour;
  }
}

// Show/hide conditional questions
.js-conditional-text {
  display: none;
}
.js-enabled .conditional-question {
  display: none;

  &.show-question {
    display: block;
  }

  .no-js-conditional-text {
    display: none;
  }

  .js-conditional-text {
    display: block;
  }
}
.js-enabled span.conditional-question.show-question {
  display: inline;
}

.no-js {
  div.by-years-wrapper,
  div.turnover-exports-calculation-wrapper {
    display: none;

    &.show-question {
      display: block;
    }
  }
}

.smart-answer .inner.step.current {
  margin-right: 0;

  @media (max-width: 800px) {
    padding-left: 2em;
  }
}

// Styling the add form field list and button
.list-add {
  margin: 0;
  margin-bottom: $gutter;
  padding: 0;
  list-style: none;

  & > li {
    margin: 0;
    margin-bottom: $gutter-half;
    padding: 20px !important;
    border: 2px solid $govuk-input-border-colour !important;

    .lte-ie7 & {
      display: inline;
      width: 100%;
      float: left;
    }

    &.hidden {
      .lte-ie7 & {
        display: none;
      }
    }
  }

  h3:first-child {
    margin-top: 0;
  }

  label input,
  .form-control {
    margin-bottom: 1em;
  }

  .field-with-errors {
    label input,
    .form-control {
      margin-bottom: 0;
    }
  }

  .hint {
    margin-top: -0.5em;
  }

  select {
    margin-right: $gutter-one-third;
  }

  .remove-link,
  .edit-link {
    border: none;
    margin-top: 10px;
    display: inline-block;

    &.read-only,
    &.disabled,
    &.disabled:hover,
    &[disabled],
    &[disabled]:hover,
    &[disabled="disabled"],
    &[disabled="disabled"]:hover {
      opacity: 0.5;
    }
  }
}

.mt-0 {
  margin-top: 0 !important;
}

.mt--5 {
  margin-top: -5px !important;
}

.remove-website {
  float: right;
}

.float-right {
  float: right;
}

.display-inline {
  display: inline;
}

.lte-ie7 .js-uploaded-list .js-file-uploaded .remove-link {
  position: relative;
  margin-top: -1.5em;
}

.button-upload {
  padding: 0.5em !important;
  margin: -4.5em 0.5em 0em 0.5em !important;
  position: relative;
}

.button-add {
  position: relative;

  input[type="file"] {
    position: absolute;
    width: auto;
    min-width: 0;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    &[disabled] {
      cursor: default;
    }

    .lte-ie7 & {
      left: auto !important;
    }
  }
}

.js-default-reached .js-remove-link {
  display: none !important;
}

.page-award-form .pagination {
  li.submit {
    width: 36%;

    @media (max-width: 640px) {
      width: auto;
    }

    .lte-ie7 & {
      width: 35%;
    }

    &.js-link-disabled {
      display: none !important;
    }
  }

  li.previous-alternate {
    .lte-ie7 & {
      width: 100px;
    }
  }
}

.form-submit .pull-right {
  float: right;

  @media (max-width: 640px) {
    float: none;
  }
}

// Error styling
.errors-box {
  padding: $gutter-half $gutter-two-thirds;
  border: 3px solid $red;

  a {
    color: $red;
  }

  h2,
  h3 {
    margin-top: 0;
  }

  p {
    @include core-16;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.errors-container {
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
  list-style: none;

  &.char-spacing {
    padding-right: 160px;

    @media (max-width: 640px) {
      margin-bottom: $gutter;
    }

    .lte-ie7 & {
      margin-bottom: $gutter;
    }
  }
}

.field-with-errors .error,
.smart-answer article .error,
.govuk-form-group--error:not(.js-question-disabled) .errors-container li,
.supporters-list .errors-container li,
.audit-certificate-upload-form .errors-container li {
  @include core-19;
  display: block;
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
  clear: both;
  border: none;
  background: transparent;
  color: $red;
}

.govuk-form-group--error:not(.js-question-disabled) .errors-container li,
.supporters-list .errors-container li,
.audit-certificate-upload-form .errors-container li {
  .lte-ie7 & {
    display: inline;
    width: 100%;
    float: left;
  }
}

.show-question.govuk-form-group--error:not(.js-question-disabled),
.field-with-errors {
  display: block;
  margin-bottom: 2.45em;
  // padding-top: $gutter-one-third;
  // padding-bottom: $gutter-half;
  padding-left: $gutter-two-thirds;
  border-left: 3px solid $red;

  .no-error & {
    padding-left: 0;
    border: none;
  }

  h2 {
    margin-top: 0;
  }

  input,
  select,
  textarea,
  .date-input,
  .question-group {
    margin-bottom: 0;
  }
}

.js-question-disabled {
  &.govuk-form-group--error,
  .govuk-form-group--error {
    border: none;
    margin: 0;
    padding: 0;

    .govuk-error-message {
      display: none !important;
    }
  }
}

.govuk-error-summary {
  &--question-halted {
    margin-top: 20px;
    margin-bottom: 20px;

    > div {
      margin-bottom: 0;
    }
  }
}

// Numbered steps for form sections
// Taken from https://github.com/alphagov/calculators/blob/9181624cc9e00a079bea2141a650321f7183b6d0/app/assets/stylesheets/calculators/child_benefit.scss
.question-block .steps {
  display: inline-block;
  width: auto;
  min-width: 13px;
  height: 27px;
  margin: 0;
  margin-right: 0.75em;
  padding: 3px 14px;
  border-radius: 1000px;
  background: black;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;

  &:after {
    content: " ";
    display: block;
  }

  @media (max-width: 640px) {
    font-size: 15px;
    height: 23px;
    line-height: 26px;
    padding: 3px 10px;
  }
}

.regular-question,
.question-block,
.sub-question {
  .steps {
    margin: 10px 0 5px;

    @media (max-width: 640px) {
      position: relative;
      top: -0.5em;
    }
  }
}

.pending-label{
  background-color: #5178bc;
}

.shortlisted-label{
  background-color: #87c764;
}

.withdrawn-label{
  background-color: #6c6d70;
}

.applications-table{
  td{
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .urn-not-generated{
    font-style: italic;
    color: #494949;
  }
}

.conditional-hint {
  display: block;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  color: $grey-1;
  font-style: italic;
  list-style: none;

  &,
  li {
    @include core-16;
  }

  li {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-left: 0;
  }
}

.js .conditional-hint {
  display: none;
}

// Used for NON JS cases - begin
.non-js-button-to {
  float: right;

  .non-js-remove-link {
    @include core-16;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.non-js-audit-certificate-submit {
  float:right
}

.non-js-edit-link {
  margin-right: 10px;
}

// Used or NON JS cases - end

select.js-trigger-autosave.custom-select.sic_code-selector {
  max-width: 650px;
}

.qae-form-checkbox-seria-question-item {
  margin-right: 20px;
}

.js-collaborators-bar {
  padding-left: 32px;
  font-weight: bold;
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index:10000;
  padding: 10px;
  margin: 0 auto;
  background-color: #FFFAFA;
  border-radius: 0 0 5px 0;
}

.js-ckeditor-spinner-block {
  overflow: hidden;
  margin-bottom: 10px;

  img {
    float: left;
  }

  span {
    float: left;
    display: block;
    color: rgb(111, 119, 123);
    margin-bottom: 0px;
    padding-top: 10px;
    margin-left: 10px;
  }
}

.js-ckeditor-spacer {
  height: 7px;
}

.selectable.unsubscribe_award_specific_option {
  margin-bottom: 0.2em !important;
}

fieldset.account-contact-preferences-other-ops {
  margin-top: 40px;
}

.social-mobility-form-goal-link {
  display: inline-block;
  margin-bottom: 4px;
}

.inline-form-actions {
  .button {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px !important;
  }
}

.static-field {
  margin: 1em 0 0;

  strong {
    display: block;
    margin-bottom: 0.5em;
  }

  & + .static-field {
    margin-top: 2.5em;
  }
}

.matrix-question-input {
  display: inline-block !important;
  max-width: 100% !important;
  width: 100% !important;
  min-width: 4em !important;
  box-sizing: border-box !important;
}

.other-organization-type {

  max-width: 465px !important;

  input {
    width: 100% !important;
    display: block;
    margin-bottom: 2rem;
  }

  h2 {
    font-weight: normal;
    @include core-19;
    margin-bottom: 0;
  }
}

.js-fy-entries {
  margin-bottom: 30px
}

.cke_wordcount span {
  font-size: 1.1875rem !important;
  color: $grey-dark !important;
}
