// Clears floats
.clear {
  clear: both;
  display: block;
}

// Fix the .visuallyhidden class from overflowing body
.visuallyhidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

// Align text
.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.list-alpha {
  padding-left: 1.5em;
  list-style: lower-alpha;

  li {
    padding-left: 0;
  }
}

// Fix the smart answers previous answers link text
.previous-answers .restart a {
  white-space: nowrap;
}

// Positions full width elements
.inner-block {
  padding: 0 $gutter-half;

  @include media(tablet) {
    padding: 0 $gutter;
  }

  &.floated-children {
    @extend %contain-floats;

    padding: 0;

    @include media(tablet) {
      padding: 0 $gutter-half;
    }
  }
}

// Positions the sidebar to allow elements above it
.article-related-positioning-container {
  position: relative;

  .related-positioning {
    top: 0;
  }
}

.page-header {
  // Wider header
  &.page-header-wider div,
  &.page-header-wider-minor div {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  &.page-header-wider div {
    width: 100%;
  }
  // Slightly wider
  &.page-header-wider-minor div {
    width: 75%;
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  // Styles the sub header for `page-header`
  h2 {
    @include core-27;
  }
  h2,
  h3 {
    display: block;
    margin-bottom: 0.15em;
    color: $grey-1;
  }

  // Indent other page-header elements
  h2,
  h3,
  .steps-progress-bar {
    margin-left: 32px;

    @media (max-width: 1131px) {
      margin-left: 0;
    }
  }
}

// Wider content
.article-container.article-container-wider {
  width: 100%;
  max-width: 75%;

  @media (max-width: 640px) {
    max-width: none;
  }
}

.related-positioning {
  // Positions the sidebar when the is no header text
  &.related-positioning-no-header .related {
    margin-top: 1em;
  }

  // Positions the pagination navigation if it's in the sidebar
  .pagination {
    margin-top: 0.5em;

    @media (max-width: 800px) {
      display: none;
    }

    li {
      width: 100%;
    }
  }
}

// move pagination higher
.pagination.pagination-alternative {
  margin-top: 2em;
}

// Override smart_answers style for consistent
// spacing between forms and page titles
.smart-answer .current-question {
  padding-top: 0;
}

// Taken from whitehall repo 18 Nov 2014
// https://github.com/alphagov/whitehall/blob/3c21e60c16a069a24949c5fa40ca913166d29666/app/assets/stylesheets/frontend/helpers/_govspeak.scss#L235
.call-to-action {
  margin: $gutter 0;
  background: $panel-colour none no-repeat 98% $gutter-two-thirds;
  padding: $gutter-one-third ($gutter*2) $gutter-one-third $gutter-half;
  position: relative;

  p {
    margin: 0;
    padding: 0;
  }

  ol {
    @include media(desktop) {
      list-style-position: outside;
    }
  }
}

// Grid classes to better layout the form
@media only screen and (min-width : 801px), only screen and (min-device-height : 768px) and (max-device-height : 1024px) and (orientation : portrait) {
  .row {
    display: block;
    margin-right: -15px;
    margin-left: -15px;

    &:after,
    &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }
  .span-1,
  .span-2,
  .span-2-4,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .span-12 {
    width: 100%;
  }
  .span-11 {
    width: 91.66666667%;
  }
  .span-10 {
    width: 83.33333333%;
  }
  .span-9 {
    width: 75%;
  }
  .span-8 {
    width: 66.66666667%;
  }
  .span-7 {
    width: 58.33333333%;
  }
  .span-6 {
    width: 50%;
  }
  .span-5 {
    width: 41.66666667%;
  }
  .span-4 {
    width: 33.33333333%;
  }
  .span-3 {
    width: 25%;
  }
  .span-2-4 {
    width: 20%;
  }
  .span-2 {
    width: 16.66666667%;
  }
  .span-1 {
    width: 8.33333333%;
  }
}

// Alpha tag next to title
.alpha-tag {
  @include phase-tag(alpha);
  margin-left: 4px;

  @media (min-width: 641px) {
    position: relative;
    top: -3px;
    margin-left: 8px;
  }

  @include ie-lte(8) {
    position: relative;
    top: 3px;
  }
}

// Removes bullet point list-style from proposition-links
#proposition-links {
  list-style: none;
}

// Position account links to be top right and make them a dropdown
#proposition-menu {
  @media (min-width: 990px) {
    position: relative;
  }
}
#global-header {
  position: relative;
  z-index: 999;
}
#global-header .header-proposition #proposition-menu .user-account-links {
  display: block;

  @media (min-width: 990px) {
    position: absolute;
    top: 0;
    right: 0;
  }

  > li {
    @media (min-width: 990px) {
      padding-left: $gutter-half;
      padding-right: 0;
    }

    &.dropdown {
      position: relative;
      width: auto;
      border: none;

      > a .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-color: $white;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }

      .dropdown-menu {
        position: absolute;
        display: none;
        top: 1.75em;
        right: 0;
        padding: 0.2em 0.75em;
        background: $white;
        border: 1px solid $grey-2;

        @media (max-width: 990px) {
          right: auto;
          left: 0;
        }

        li {
          float: none;
          width: auto;
          margin: 0.5em 0;
          padding: 0;
          border: none;

          a {
            display: block;
            color: $black;
            font-weight: normal;
            text-align: right;
            white-space: nowrap;

            @media (max-width: 989px) {
              text-align: left;
            }
          }
        }
      }

      &.dropdown-open {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }
}

// Fixes conflict with using aside as page navigations on other pages inside the header
header.page-header aside .inner {
  margin: 0 auto;
  margin-top: 2em;
}

// Progress steps based on `3. Summary menu`
// https://www.gov.uk/service-manual/user-centred-design/resources/patterns/progress-indicators#summary-menu
// Included a dropdown
.steps-progress-bar {
  position: absolute;
  width: 240px;
  margin: 0;
  margin-top: 2.5em;
  margin-left: 32px;
  padding: 0;
  border: 1px solid $border-colour;
  border-right: none;
  border-left: none;

  @media (max-width: 990px) {
    position: static;
    width: auto;
    margin: 0 2em;
    margin-bottom: $gutter;
  }

  @media (max-width: 640px) {
    margin-right: 1em;
    margin-left: 1em;
  }

  ol,
  ul {
    list-style: none;
    margin: 0 -15px;
    padding: 0;
    font-size: 0.1px;
    line-height: 0;
    text-align: justify;

    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
  }

  li {
    @include core-19;
    display: block;
    margin: 0 15px;
    vertical-align: top;
    text-align: left;

    &,
    a {
      color: $grey-1;
    }

    > a,
    > span {
      display: block;
      max-width: 100%;
      margin: 0;
      padding: 7px 0;
      border: 5px solid transparent;
      border-left: none;
      border-right: none;
    }

    &.step-past {
      &,
      a {
        color: $govuk-blue;
      }
    }

    &.step-current {
      margin-bottom: 15px;

      &,
      a {
        color: $black;
      }

      > a,
      > span {
        border-bottom-color: $black;
      }
    }

    &.divider {
      margin-top: $gutter-one-sixth;
      margin-bottom: $gutter-one-sixth;
      border-top: 1px solid $border-colour;
    }
  }

  .dropdown-toggle {
    display: block;

    &.dropdown-active {
      color: $black;
    }
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 7px;
    border-top: 7px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    vertical-align: middle;
  }

  .dropdown-menu {
    display: none;
    margin-top: 10px;

    li {
      margin-left: 35px;
    }
  }

  .open {
    .caret {
      border-top: none;
      border-bottom: 7px solid;
    }

    .dropdown-menu {
      display: block;
    }
  }

  .no-js & {
    .dropdown-toggle {
      display: none;
      margin-top: -10px;
    }

    .dropdown-menu {
      display: block;

      li {
        margin-left: 0;
      }
    }
  }

  .page-header & {
    margin-top: 16px;
    margin-bottom: $gutter;
  }
}

.steps-progress-content {
  margin: 0;
  margin-left: 272px;

  @media (max-width: 990px) {
    margin-left: 0;
  }

  .article-container,
  .article-container-wider,
  .page-header div {
    max-width: none;
    margin-right: 0;
  }
}

// Fix the spacing for lists in the .help-notice
article .help-notice ul {
  padding-left: 3.3em;
  @media (max-width: 640px) {
    padding-left: 2em;
  }
}

// Application alert messages
.flash {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1;

  .flash-inner {
    margin: 0 auto;
    max-width: 1000px;
  }

  p {
    @include core-16;
    margin: 0;
  }
  .alert,
  .notice {
    margin: 0 $gutter-two-thirds;
    padding: $gutter-one-third $gutter-half;
  }

  .alert {
    background-color: $yellow-25;
  }

  .notice {
    background-color: $light-blue-25;
  }
}

// Pagination style applied to buttons
// And adapted for button
// https://github.com/alphagov/static/blob/726ffb04b01bad019affd0ef2f2aef78873ef0ae/app/assets/stylesheets/helpers/_publisher.scss 
.pagination li {
  button {
    background-color: transparent;
    display: block;
    color: $link-colour;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include ie-lte(7) {
      height: 4.5em;
    }

    &:hover,
    &:active {
      background-color: $canvas-colour;
    }

    .pagination-label {
      @include core-27($line-height: (33.75 / 27));
      margin-bottom: 0.1em;
      display: block;
    }

    &,
    .pagination-part-title {
      @include core-16($line-height: (20 / 16));
    }

    .pagination-part-title {
      text-decoration: underline;
    }
  }

  &.previous button {
    padding: 0.75em 0 0.75em 3em;

    &:before {
      background: transparent image-url("arrow-sprite.png") no-repeat -20px -11px;
      margin: -4px 0 0 -32px;
      display: block;
      float: left;
      width: 30px;
      height: 38px;
      content: " ";
    }
  }
  
  &.next button {
    padding: 0.75em 3em 0.75em 0;
    text-align: right;

    &:before {
      background: transparent image-url("arrow-sprite.png") no-repeat -102px -11px;
      margin: -4px -32px 0 0;
      display: block;
      float: right;
      width: 30px;
      height: 38px;
      content: " ";
    }
  }

  @include media-down(mobile) {
    &.next button {
      text-align: right;
    }
  }
}
