// Clears floats
.clear {
  clear: both;
  display: block;
}

// Positions full width elements
.inner-block {
  padding: 0 $gutter-half;

  @include media(tablet) {
    padding: 0 $gutter;
  }

  &.floated-children {
    @extend %contain-floats;

    padding: 0;

    @include media(tablet) {
      padding: 0 $gutter-half;
    }
  }
}

// Positions the sidebar to allow elements above it
.article-related-positioning-container {
  position: relative;

  .related-positioning {
    top: 0;
  }
}

.article-container.article-container-wider {
  width: 100%;
  max-width: 75%;
}

.related-positioning {
  // Positions the sidebar when the is no header text
  &.related-positioning-no-header .related {
    margin-top: 1em;
  }

  // Positions the pagination navigation if it's in the sidebar
  .pagination {
    margin-top: 0.5em;

    li {
      width: 100%;
    }
  }
}

// Styles the sub header for `page-header`
header.page-header div h1 small {
  @include core-27;
  display: block;
  margin-bottom: 0.15em;
  color: $grey-1;
}

// Taken from whitehall repo 18 Nov 2014
// https://github.com/alphagov/whitehall/blob/3c21e60c16a069a24949c5fa40ca913166d29666/app/assets/stylesheets/frontend/helpers/_govspeak.scss#L235
.call-to-action {
  margin: $gutter 0;
  background: $panel-colour none no-repeat 98% $gutter-two-thirds;
  padding: $gutter-one-third ($gutter*2) $gutter-one-third $gutter-half;
  position: relative;

  p {
    margin: 0;
    padding: 0;
  }

  ol {
    @include media(desktop) {
      list-style-position: outside;
    }
  }
}

// Grid classes to better layout the form
@include media($min-width: 801px) {
  .row {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
  }
  .span-1,
  .span-2,
  .span-2-4,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .span-12 {
    width: 100%;
  }
  .span-11 {
    width: 91.66666667%;
  }
  .span-10 {
    width: 83.33333333%;
  }
  .span-9 {
    width: 75%;
  }
  .span-8 {
    width: 66.66666667%;
  }
  .span-7 {
    width: 58.33333333%;
  }
  .span-6 {
    width: 50%;
  }
  .span-5 {
    width: 41.66666667%;
  }
  .span-4 {
    width: 33.33333333%;
  }
  .span-3 {
    width: 25%;
  }
  .span-2-4 {
    width: 20%;
  }
  .span-2 {
    width: 16.66666667%;
  }
  .span-1 {
    width: 8.33333333%;
  }
}

// Alpha tag next to title
.alpha-tag {
  @include phase-tag(alpha);
  margin-left: 4px;

  @include media($min-width: 641px) {
    position: relative;
    top: -3px;
    margin-left: 8px;
  }

  @include ie-lte(8) {
    position: relative;
    top: 3px;
  }
}

// Removes bullet point list-style from proposition-links
#proposition-links {
  list-style: none;
}
