// Clears floats
.clear {
  clear: both;
  display: block;
}

// Fix the .visuallyhidden class from overflowing body
.visuallyhidden {
  position: absolute !important;
  // don't add top back in here
  // if the element is focusable for some reason, it will jump to the top
  // so at least this way scroll stays where it is
  left: -9999px !important;
}

// Align text
.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.list-alpha {
  padding-left: 1.5em;
  list-style: lower-alpha;

  li {
    padding-left: 0;
  }
}

details + details {
  margin-top: 20px;
}

.dev-banner,
.staging-banner {
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.dev-banner {
  background: #1d70b8;
}

.staging-banner {
  background: #ff5346;
}

// Fix the smart answers previous answers link text
.previous-answers .restart a {
  white-space: nowrap;
}

// Positions full width elements
.inner-block {
  padding: 0 $gutter-half;

  @include media(tablet) {
    padding: 0 $gutter;
  }

  &.floated-children {
    // @extend %contain-floats;

    padding: 0;

    @include media(tablet) {
      padding: 0 $gutter-half;
    }
  }
}

// Positions the sidebar to allow elements above it
.article-related-positioning-container {
  position: relative;

  .related-positioning {
    top: 0;
  }
}

.page-header {
  // Wider header
  &.page-header-wider div,
  &.page-header-wider-minor div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.page-header-wider div {
    width: 100%;

    .lte-ie7 & {
      width: auto !important;
      margin-right: 0 !important;
    }
  }
  // Slightly wider
  &.page-header-wider-minor div {
    width: 75%;
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  &.page-header-over-sidebar div {
    width: auto;
    margin-right: 0;
  }

  &.page-header-large h1 {
    @include heading-48;
    font-weight: 600;
  }

  // Styles the sub header for `page-header`
  h2 {
    font-weight: bold;
    color: $black;
    font-size: 36px;
  }

  h3 {
    display: block;
    margin-bottom: 0.15em;
    color: $grey-1;
  }

  h3 {
    margin-left: 48px;

    @media (max-width: 1131px) {
      margin-left: 16px;
    }
  }
}

// Make the header smaller and take less space
header.page-header div {
  padding-top: 1em;
  padding-bottom: 1em;

  h1 {
    @include heading-48;
    font-weight: bold;
  }
}

// Wider content
.article-container.article-container-wider {
  width: 100%;
  max-width: 75%;

  @media (max-width: 640px) {
    max-width: none;
  }
}

// Full width content
.article-container.article-container-widest {
  width: auto;
  max-width: none;
  margin-right: 1.5em;

  @media (max-width: 640px) {
    margin-right: 0;
  }
}

.related-positioning {
  // Positions the sidebar when the is no header text
  &.related-positioning-no-header .related {
    margin-top: 1em;
  }

  // Positions the pagination navigation if it's in the sidebar
  .pagination {
    margin-top: 0.5em;

    @media (max-width: 800px) {
      display: none;
    }

    li {
      width: 100%;
    }
  }
}

// move pagination higher
.pagination.pagination-alternative {
  margin-top: 2em;
}

// Override smart_answers style for consistent
// spacing between forms and page titles
.smart-answer .current-question {
  padding-top: 0;
}

// Taken from whitehall repo 18 Nov 2014
// https://github.com/alphagov/whitehall/blob/3c21e60c16a069a24949c5fa40ca913166d29666/app/assets/stylesheets/frontend/helpers/_govspeak.scss#L235
.call-to-action {
  margin: $gutter 0;
  background: $panel-colour none no-repeat 98% $gutter-two-thirds;
  padding: $gutter-one-third (30px) $gutter-one-third $gutter-half;
  position: relative;

  p {
    margin: 0;
    padding: 0;
  }

  ol {
    @include media(desktop) {
      list-style-position: outside;
    }
  }
}

// Grid classes to better layout the form
@media only screen and (min-width: 801px),
  only screen and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: portrait) {
  .row {
    display: block;
    margin-right: -15px;
    margin-left: -15px;

    &:after,
    &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }
  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span-12 {
    width: 100%;
  }
  .span-11 {
    width: 91.66666667%;
  }
  .span-10 {
    width: 83.33333333%;
  }
  .span-9 {
    width: 75%;
  }
  .span-8 {
    width: 66.66666667%;
  }
  .span-7 {
    width: 58.33333333%;
  }
  .span-6 {
    width: 50%;
  }
  .span-5 {
    width: 41.66666667%;
  }
  .span-4 {
    width: 33.33333333%;
  }
  .span-3 {
    width: 25%;
  }
  .span-2 {
    width: 16.66666667%;
  }
  .span-1 {
    width: 8.33333333%;
  }
}

.lte-ie7 {
  .row {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
  }

  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .span-12 {
    width: 100%;
  }

  .span-11 {
    width: 91.66666667%;
  }

  .span-10 {
    width: 83.33333333%;
  }

  .span-9 {
    width: 75%;
  }

  .span-8 {
    width: 66.66666667%;
  }

  .span-7 {
    width: 58.33333333%;
  }

  .span-6 {
    width: 50%;
  }

  .span-5 {
    width: 41.66666667%;
  }

  .span-4 {
    width: 33.33333333%;
  }

  .span-3 {
    width: 25%;
  }

  .span-2 {
    width: 16.66666667%;
  }

  .span-1 {
    width: 8.33333333%;
  }
}

// Removes bullet point list-style from proposition-links
#proposition-links {
  list-style: none;
}

#global-header .header-proposition #proposition-menu {
  margin-top: 0;

  #proposition-name {
    @include bold-19;
  }

  #proposition-links {
    margin-top: 10px !important;

    li {
      padding-right: 25px !important;

      @media (max-width: 991px) {
        padding-right: 15px !important;
      }

      a {
        font-size: 14px !important;
      }
    }
  }
}

#global-header {
  position: relative;
  z-index: 999;
}

.js #global-header .header-proposition #proposition-menu .user-account-links {
  display: block;

  @media (min-width: 990px) {
    position: absolute;
    top: 0;
    right: 0;
  }

  > li {
    @media (min-width: 990px) {
      padding-left: $gutter-half;
      padding-right: 0;
    }

    &.dropdown {
      position: relative;
      width: auto;
      border: none;

      > a .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-color: $white;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }

      .dropdown-menu {
        position: absolute;
        display: none;
        top: 1.75em;
        right: 0;
        padding: 0.2em 0.75em;
        background: $white;
        border: 1px solid $grey-2;

        @media (max-width: 990px) {
          right: auto;
          left: 0;
        }

        li {
          float: none;
          width: auto;
          margin: 0.5em 0;
          padding: 0;
          border: none;

          a {
            display: block;
            color: $black;
            font-weight: normal;
            text-align: right;
            white-space: nowrap;

            @media (max-width: 989px) {
              text-align: left;
            }
          }
        }
      }

      &.dropdown-open {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }
}

.no-js .user-account-links .dropdown-toggle {
  display: none;
}

// Fixes conflict with using aside as page navigations on other pages inside the header
header.page-header aside .inner {
  margin: 0 auto;
  margin-top: 2em;
}

// Fixes spacing conflict with using meta inside the article container
#wrapper.guide article .inner .meta-data {
  margin-left: 0;
}

// Progress steps based on `3. Summary menu`
// https://www.gov.uk/service-manual/user-centred-design/resources/patterns/progress-indicators#summary-menu
// Included a dropdown
.steps-progress-container {
  position: relative;

  &.min-height-800 {
    min-height: 800px;
  }

  &.min-height-1300 {
    min-height: 1300px;
  }

  .steps-progress-bar {
    margin-top: 0.5em;
  }

  .page-header div {
    padding-top: 0;
    padding-bottom: 0.5em;
  }
}

.steps-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  margin: 0;
  margin-top: 2.5em;
  padding: 0;

  @media (max-width: 990px) {
    position: static;
    width: auto;
    margin-bottom: $gutter;
  }

  ol,
  ul {
    list-style: none;
    margin: 0 -15px;
    padding: 0;
    font-size: 0.1px;
    line-height: 0;
    text-align: justify;

    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }

  li {
    @include core-19;
    display: block;
    margin: 0 15px;
    vertical-align: top;
    text-align: left;

    &,
    &.js-step-disabled a {
      color: $grey-1;
      text-decoration: none;
    }

    &.step-current,
    &.step-errors {
      a {
        text-decoration: none;
      }
    }

    a:visited {
      color: $link-visited-colour !important;
    }

    a:focus {
      color: $black !important;
    }

    > a,
    > span {
      display: block;
      max-width: 100%;
      margin: 0;
      padding: 7px 0;
      border: 5px solid transparent;
      border-left: none;
      border-right: none;
    }

    &.step-past,
    &.step-regular {
      &,
      a {
        color: $govuk-blue;
      }

      a:visited {
        color: $govuk-blue !important;
      }
    }

    &.step-current {
      margin-bottom: 15px;

      &,
      a {
        color: $black;
      }

      a:visited {
        color: $black !important;
      }

      > a,
      > span {
        border-bottom-color: $black;
      }
    }

    &.divider {
      margin-top: $gutter-one-sixth;
      margin-bottom: $gutter-one-sixth;
      border-top: 1px solid $border-colour;
    }

    &.sidebar-helpline {
      a {
        text-decoration: underline;
        overflow-wrap: break-word;
      }
    }
  }

  .text-black {
    color: $black;
  }

  ul {
    margin-top: 10px;

    li {
      padding-left: 25px;
    }
  }

  .page-header & {
    margin-top: 16px;
    margin-bottom: $gutter;
  }

  .step-download {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .sidebar-helpline {
    @include core-16;
    padding: 25px 0;
    color: $black;

    a {
      padding: 0;
      border: none;
      color: $govuk-blue !important;
    }

    .helpline-space {
      margin-top: 10px;
      padding: 0;
      border: none;
    }
  }

  .highlighted-event {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    max-width: 200px;

    p {
      line-height: 1.2;
      @include core-24;

      em {
        font-size: 1.265em;
        display: block;
      }
    }

    @media (max-width: 990px) {
      margin-top: 0;
    }
  }
}

.steps-progress-content {
  margin: 0;
  margin-left: 272px;
  padding-left: 32px;
  min-height: 1120px;

  @media (max-width: 990px) {
    margin-left: 0;
    min-height: 0;
  }

  @media (max-width: 640px) {
    padding-left: 0;
  }

  .article-container,
  .article-container-wider,
  .page-header div {
    max-width: none;
    margin-right: 0;
  }
}

.big-notice {
  margin-top: 15px;

  p {
    margin-top: 0;
    font-size: 24px;

    @media (max-width: 640px) {
      font-size: 20px;
    }
  }
}

// Fix the spacing for lists in the .help-notice
article .help-notice ul {
  padding-left: 3.3em;
  @media (max-width: 640px) {
    padding-left: 2em;
  }
}

// Application alert messages
.flash {
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 9999;

  .flash-inner {
    margin: 0 auto;
    max-width: 1000px;
  }

  p {
    @include core-16;
    margin: 0;
  }

  .alert,
  .notice {
    margin: 0 $gutter-two-thirds;
    padding: $gutter-one-third $gutter-half;
  }

  .alert {
    background-color: $yellow-25;
  }

  .notice {
    background-color: $light-blue-25;
  }
}

// Pagination style applied to buttons
// And adapted for button
// https://github.com/alphagov/static/blob/726ffb04b01bad019affd0ef2f2aef78873ef0ae/app/assets/stylesheets/helpers/_publisher.scss
// .pagination li {
//   button {
//     background-color: transparent;
//     display: block;
//     color: $link-colour;
//     text-decoration: none;
//     width: 100%;
//     text-align: left;
//     border: none;
//     cursor: pointer;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;

//     &:hover,
//     &:active {
//       background-color: $canvas-colour;
//     }

//     .pagination-label {
//       @include core-27($line-height: (33.75 / 27));
//       margin-bottom: 0.1em;
//       display: block;
//     }

//     &,
//     .pagination-part-title {
//       @include core-16($line-height: (20 / 16));
//     }

//     .pagination-part-title {
//       text-decoration: underline;
//     }
//   }

//   &.previous button {
//     padding: 0.75em 0 0.75em 3em;

//     // &:before {
//     //   background: transparent image-url("arrow-sprite.png") no-repeat -20px -11px;
//     //   margin: -4px 0 0 -32px;
//     //   display: block;
//     //   float: left;
//     //   width: 30px;
//     //   height: 38px;
//     //   content: " ";
//     // }
//   }

//   &.next button {
//     padding: 0.75em 3em 0.75em 0;
//     text-align: right;

//     // &:before {
//     //   background: transparent image-url("arrow-sprite.png") no-repeat -102px -11px;
//     //   margin: -4px -32px 0 0;
//     //   display: block;
//     //   float: right;
//     //   width: 30px;
//     //   height: 38px;
//     //   content: " ";
//     // }
//   }

//   @include media-down(mobile) {
//     &.next button {
//       text-align: right;
//     }
//   }
// }

.footer-helpline {
  margin-bottom: 0;
  padding: 80px 0;
  border-top: 1px solid $border-colour;

  .page-devise & {
    display: none;
  }
}

// IE6 browser warning banner
.browser_warning {
  display: none;
  visibility: hidden;
  padding: 1.5em 5px;
  background: #333;
  color: $white;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  vertical-align: baseline;

  a {
    color: $white;
  }
}

details {
  display: block;
  clear: both;

  summary {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em;
    font-size: 19px;

    &:hover {
      color: #2b8cc4;
    }

    &:focus {
      outline: 3px solid #ffbf47;
    }
  }

  .summary {
    text-decoration: underline;
  }

  .arrow {
    margin-right: 0.35em;
    font-style: normal;
  }

  span {
    color: $dark-blue-link-colour;
  }
}

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.78947em;
  margin-bottom: 0.78947em;
}
.panel :first-child {
  margin-top: 0;
}
.panel :only-child,
.panel :last-child {
  margin-bottom: 0;
}

.panel-border-wide {
  border-left-width: 10px;
}

.panel-border-narrow {
  border-left-width: 5px;
}

.external-link:after {
  display: inline-block;
  width: 1em;
  background-size: 12px auto !important;
}

.glyphicon-remove {
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 1px;
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    display: none;
  }

  width: 11px;
  height: 11px;
  background-image: image-url("icon-invalid.png");
  background-size: 11px 11px;

  @include is-retina {
    background-image: image-url("icon-invalid@2.png");
  }

  .text-danger & {
    background-image: image-url("icon-remove.png");

    @include is-retina {
      background-image: image-url("icon-remove@2.png");
    }
  }
}

.remove-verification-document {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;

  .text-danger {
    color: #a94442;
  }
}

.js-audit-certificate-title {
  margin-right: 20px;
}

.download-link {
  display: inline-block;
  padding-left: 1.75em;
  position: relative;
  font-weight: bold;
  max-width: 420px;
  max-width: calc(100% - 150px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:before {
    content: " ";
    display: block;
    width: 18px;
    height: 16px;
    background-image: image-url("icon_download.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    position: absolute;
    left: 0;
    top: 2px;
  }
}

ul.no-bullets {
  list-style-type: none !important;
  list-style-image: none !important;
  padding-left: 0em;
}

form.audit-certificate-upload-form span.button-add {
  margin-bottom: 20px;
}

// Navigation link
.nav-link--sign-out {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  padding: 0;
}
