$colorLevel0: $error-colour;
$colorLevel1: $error-colour;
$colorLevel2: $yellow;
$colorLevel3: $yellow;
$colorLevel4: $button-colour;

.password-meter {
  position: relative;
  display: block;
  max-width: 16.5em;
  height: 1.2em;
  padding-right: 80px;

  .page-devise & {
    max-width: 197px;
  }

  .password-meter-bar {
    overflow: hidden;
    position: relative;
    display: block;
    height: 5px;
    top: 9px;
    margin: 0;
    background-color: #dddddd;
    border-radius: 2px;
  }
  .password-meter-bar-inner {
    display: block;
    height: 100%;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }
  .password-meter-text {
    position: absolute;
    top: 50%;
    right: 0;
    width: 70px;
    margin-top: -0.5em;
    color: #333333;
    font-size: 13px;
  }
  &.level-0 {
    .password-meter-bar-inner {
      width: 20%;
      background-color: $colorLevel0;
    }
    .password-meter-text {
      color: $colorLevel0;
    }
  }
  &.level-1 {
    .password-meter-bar-inner {
      width: 40%;
      background-color: $colorLevel1;
    }
    .password-meter-text {
      color: $colorLevel1;
    }
  }
  &.level-2 {
    .password-meter-bar-inner {
      width: 60%;
      background-color: $colorLevel2;
    }
    .password-meter-text {
      color: $colorLevel2;
    }
  }
  &.level-3 {
    .password-meter-bar-inner {
      width: 80%;
      background-color: $colorLevel3;
    }
    .password-meter-text {
      color: $colorLevel3;
    }
  }
  &.level-4 {
    .password-meter-bar-inner {
      width: 100%;
      background-color: $colorLevel4;
    }
    .password-meter-text {
      color: $colorLevel4;
    }
  }
}
