$status-red: #9c1111;
$status-green: #3b816f;
$status-grey: #6f777b;

.label-status {
  padding: 4px 8px 2px 8px;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none !important;
  display: inline-block;
  font-family: "GDS Transport", arial, sans-serif;


  &.label-status-red {
    border-color: $status-red;
    color: $status-red;
  }

  &.label-status-green {
    border-color: $status-green;
    color: $status-green;
  }

  &.label-status-grey {
    border-color: $status-grey;
    color: $status-grey;
  }
}

[data-status-reversible='true'],
[data-status-reversible] {
  .label-status + a,
  .label-status + button,
  .label-status + form {
    display: initial;
  }
}

[data-status-reversible='false'] {
  .label-status + a,
  .label-status + button,
  .label-status + form {
    display: none;
  }
}

.assessor-account-status {
  margin: 10px 0;

  .label-status {
    margin-right: 10px;
    font-size: 16px;
  }
}
