// Defines widths of table columns across the application

.current-applications-table {
  th,td {
    &:nth-child(1) {
      width: 300px;
    }

    &:nth-child(2) {
      width: 150px;
    }

    &:nth-child(3) {
      width: 250px;
    }
    h3 {
      font-weight: normal;
    }
  }
}

.eligibility-previous-answers {
  th,td {
    &:nth-child(1) {
      width: 320px;
    }
  }
}
