' Dear
= @user.decorate.full_name
' ,

' Congratulations, your organisation
=> @company_name
' has been shortlisted for a Queen's Award for Enterprise:
= @form_answer.award_type_full_name
' !

' In order to progress to the next stage, you need to download and complete
=> link_to "this Audit Certificate.", users_form_answer_audit_certificate_url(@form_answer, format: :pdf)
' Which you can then
= link_to "upload here.", users_form_answer_audit_certificate_url(@form_answer)

' If you've not already done so, you should also complete
= link_to "the full Declaration of Corporate Responsibility.", edit_users_form_answer_declaration_of_responsibility_url(@form_answer)

' These must both be submitted by
= @deadline
' .

' You can see more information regarding this stage of the process on your

= link_to "application dashboard.", dashboard_url

' Thank you,

' The Queen’s Awards Office
