ol.steps-progress-bar
  = step_link_to "Correspondent Details", account_1_path, index: 1, active: @active_step
  = step_link_to "Company Details",       account_2_path, index: 2, active: @active_step
  = step_link_to "Contact Settings",      account_3_path, index: 3, active: @active_step
