/*
 *= require_self
 *= require accessible-autocomplete
 *= require jquery-ui
 */

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Password strength bar
$error-colour: #df3034;
$yellow: #ffbf47;
$button-colour: #00823b;
@import "frontend/password_guidance";
@import "frontend/status";

@import "admin/bootstrap-overrides";
@import "admin/variables";
@import "admin/toggle";
@import "admin/layout";
@import "admin/base";
@import "admin/forms";
@import "admin/header-footer";
@import "admin/page-applications";
@import "admin/page-users";
@import "admin/page-settings";
@import "admin/page-custom-emails";
@import "admin/page-feedback";
@import "admin/page-dashboard";
@import "admin/date-time-picker";
@import "admin/confirmation_screen";

// HIGHLIGHT PLACEHOLDER BITS
$todo-yellow: #ffff00;
$todo-green: #66ff66;
$todo-black: #333;

.todo-note {
  display: none;
}

.layout-dev {
  .todo-note {
    display: block;
    background: $todo-yellow;
    color: $todo-black;
    font-weight: bold;
  }

  .todo-placeholder {
    outline: 4px solid $todo-yellow !important;
  }
}

.skip-main-content {
  position: absolute;
    top: -100px;
    z-index: 9999999999999999999999;

    &:focus {
      top: 20px;
      left: 20px;
    }
}
