@import '_grid_layout';
@import '_conditionals';
@import '_colours';
@import '_css3';
@import '_typography';
@import 'design-patterns/_buttons';
@import 'design-patterns/_alpha-beta';

$gutter-one-sixth: $gutter/6;

// Footer fix for slim screens
#footer .footer-categories .footer-inside-government ul li {
  @media (max-width: 640px) {
    width: auto;
  }
}

// App specific styles
@import 'frontend/layout';
@import 'frontend/forms';
@import 'frontend/attachment';
@import 'frontend/smart_answers';

// Page specific styles
#QAE {
  @import 'frontend/views/dashboard';
  @import 'frontend/views/eligibility';
}

// Password strength bar
@import 'frontend/password_strength';


// TEMP TODO hide the search with CSS
.search-toggle,
.site-search {
  display: none !important;
}
