$grey-dark: #555;

.page-devise {
  div.input {
    margin: 0.2em 0 1.25em 0;
    clear: both;

    input {
      margin-left: 0;
    }
  }

  .hint {
    display: block;
    margin-top: 5px;
    clear: left;
    color: #555;
    font-size: 14px;
  }
}

.shared-links {
  margin-top: 40px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
