.page-devise {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 180px;
    text-align: right;
    margin: 2px 10px;
  }
}

.shared-links,
.page-devise div.boolean,
.page-devise input[type='submit'] {
  margin-left: 207px;
}

.page-devise input[type='submit'] {
  margin-top: 20px;
}

.shared-links {
  margin-top: 40px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.page-devise {
  .hint {
    clear: left;
    margin-left: 207px;
    color: #555;
    display: block;
    font-size: 14px;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
