= "Dear #{@user.full_name},"

' Your Press Book entry for application #{@form_answer.urn} has been written by an assessor, and is ready for you to check.

' Although you will not be able to edit the entry yourself, you can make comments in the dedicated space below the entry which we will try to take into account.

' The deadline for doing so is
= @deadline
' .

' Please use the link below to access the text.

= link_to "Check your Press book piece.", users_form_answer_press_summary_url(@form_answer, token: @token)

' Thank you,

' The King's Awards Office
