| Dear #{@user.full_name},

| Yesterday, you may have received multiple emails from us reminding you to submit your Queen’s Awards for Enterprise application.

| The multiple emails were due to a system error - please accept our apologies for any inconvenience caused.

| Thank you for taking the time to fill out your application for the Queen’s Awards for Enterprise.

| Kind regards,

| The Queen's Awards Office
