fieldset
  h3
    ' Are you happy for us to contact you in the future with information about the Queen’s Awards?
  = f.input :subscribed_to_emails, label: 'I am happy to be contacted with information about the Queen’s Awards', label_html: { class: 'selectable' }
