ol.steps-progress-bar
  = step_link_to "Correspondent Details", correspondent_details_account_path, index: 1, active: @active_step
  = step_link_to "Company Details",       company_details_account_path, index: 2, active: @active_step
  = step_link_to "Contact Settings",      contact_settings_account_path, index: 3, active: @active_step
